---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

/**
 * A simple debug class
 */
.debug {
    border: 1px dashed red;
}

@mixin media-query($size) {

}

// Fonts
@import url(https://fonts.googleapis.com/css?family=Amatic+SC:700);
@import url(https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700);

// Brand colors
$brand-color-highlight:  #2ECC71;
$brand-color-base:       #27AE60;
$brand-color-background: #ECF0F1;
$brand-color-light:      #BDC3C7;
$brand-color-text:       #95A5A6;

// Our variables
$base-font-family:    "Open Sans Condensed", sans-serif;
$base-font-size:      16px;
$base-font-weight:    300;
$heading-font-family: "Amatic SC", cursive;
$heading-font-weight: 700;
$max-page-width:      970px;
$vertical-spacing:    20px;

// Bootstrap Overrides
$font-family-base: $base-font-family;
$font-size-base:   $base-font-size;
$link-color:       $brand-color-highlight;

// Global Sass Mixins
@mixin media-max($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

@mixin media-min($device) {
    @media screen and (min-width: $device) {
        @content;
    }
}

// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "bootstrap",
        "layout",
        "syntax-highlighting",
        "base"
;