---
# Only the main SASS file needs front matter
---
@charset "utf-8";
// Import partials from `sass_dir` (defaults to `_sass`)
@import
  "variables/variables",
  "utilities/mixins",
  "utilities/extensions",
  "utilities/utilities",
  "utilities/zindex",
  "bootstrap",
  "bootstrap-overrides",
  "fonts/type",
  "components/blurb",
  "components/footer",
  "components/header",
  "components/post",
  "components/post-thumb",
  "layout",
  "social-share-kit",
  "syntax-highlighting"
;
// A simple debug class
.debug {
  border: 1px dashed red;
}
// Establish link colors transitions
a {
  color: $color-brandBase;
  @include m-transition(color $seconds-defaultAnimLength ease);
}
// Remove underlines on hover
a:hover {
  text-decoration: none;
}
// Set background color
body {
  background-color: $color-brandBackground;
}
// Set html and body height to 100%
html, body {
  height: 100%;
}