---
# Only the main SASS file needs front matter
---
@charset "utf-8";

/**
 * A simple debug class
 */
.debug {
    border: 1px dashed red;
}

// Brand colors
$brand-color-highlight:  #2ECC71;
$brand-color-base:       #27AE60;
$brand-color-background: #ECF0F1;
$brand-color-light:      #BDC3C7;
$brand-color-text:       #95A5A6;

// Our variables
$base-font-family:    "Open Sans Condensed", sans-serif;
$base-font-size:      18px;
$base-font-weight:    300;
$heading-font-family: "Sue Ellen Francisco", cursive;
$heading-font-weight: 400;
$max-page-width:      970px;
$vertical-spacing:    20px;
$default-anim-length: 200ms;
$image-screen-alpha:  .4;

// Bootstrap Overrides
$font-family-base: $base-font-family;
$font-size-base:   $base-font-size;
$link-color:       $brand-color-base;

// Global SASS Mixins
@mixin media-query($size) {

}

@mixin media-max($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

@mixin media-min($device) {
    @media screen and (min-width: $device) {
        @content;
    }
}

@mixin hover-float($scale, $alpha) {
    box-shadow: initial;
    opacity: $alpha;
    -webkit-transition: all $default-anim-length ease-in-out;
    -moz-transition:    all $default-anim-length ease-in-out;
    -o-transition:      all $default-anim-length ease-in-out;
    transition:         all $default-anim-length ease-in-out;

    &:hover {
        opacity: 1.0;
        transform: scale($scale);
        box-shadow: 0px 0px 24px 2px rgba(black, .5);
    }
}

// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "bootstrap",
        "layout",
        "syntax-highlighting",
        "base"
;