---
title: "writes"
url: "/writes"
in_header: true
layout: page
hero_bg: "https://images.unsplash.com/photo-1432821596592-e2c18b78144f?ixlib=rb-0.3.5&q=80&fm=jpg"
hero_headline: "Words are Powerful"
hero_lead: "I control the words, so I'm like, even more powerful."
blurb_headline: "I write, but whether anyones reads is up for debate.<br>Debate that ends with, 'YES'"
subscribe_leadin: "Missing a post is terrifying! Avoid those fears by subscribing!"
---
<posts>
  <div class="container">
    <h1>Must-Reads</h1>
    {% for post in paginator.posts %}
    <div class="post-item">
      <div class="row">
        {% if post.promo-thumb %}
        <div class="col-xs-12 col-sm-3">
          <a href="{{ post.url }}">
            <img class="img-responsive" src="{{ post.promo-thumb | prepend: site.url }}"/>
          </a>
        </div>
        {% endif %}
        <div class="col-xs-12 col-sm-9">
          <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
          <p>{{ post.excerpt }}</p>
          {% if post.tags %}
          <ul>
            {% for tag in post.tags %}
            <li>{{ tag }}</li>
            {% endfor %}
          </ul>
          {% endif %}
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</posts>
