[submodule "_modules/social-share-kit"]
	path = _modules/social-share-kit
	url = https://github.com/darklow/social-share-kit.git
[submodule "_modules/instafeed"]
	path = _modules/instafeed
	url = https://github.com/stevenschobert/instafeed.js.git
