---
layout: default
hero_bg: "https://images.unsplash.com/photo-1429594801156-2c53a0d4f96e?crop=entropy&fit=crop&fm=jpg"
hero_headline: "Meet Stanley"
hero_lead: "You're welcome."
blurb_headline: "Stan gives 110%. Where does that extra 10% come from?<br>Who cares."
---
{% include hero.html hero_bg=page.hero_bg hero_headline=page.hero_headline hero_lead=page.hero_lead %}
{% include blurb.html blurb_headline=page.blurb_headline %}
<recent>
  <div class="container">
    <h1>Recent Posts</h1>
    <div class="row">
      {% include recent_posts.html %}
    </div>
    <h1>Instagram</h1>
    <div class="row">
      {% include instagram_tiles.html %}
    </div>
  </div>
</recent>