---
layout: page
hero_bg: "https://images.unsplash.com/photo-1429594801156-2c53a0d4f96e?crop=entropy&fit=crop&fm=jpg"
hero_headline: "Meet me"
hero_lead: "You're welcome."
blurb_headline: "I give 110%. Where does that extra 10% come from?<br>I. Don't. Know."
sidekick_bg: "https://images.unsplash.com/photo-1424819989622-273212130f7b?ixlib=rb-0.3.5&q=80&fm=jpg"
sidekick_headline: "Make your own Stanley at home: stir one galon of skim milk into 156 pounds of raw carbon atoms.<br>Add Voldemort blood for taste."
sidekick_cta: "Contact me"
---
<recent>
  <div class="container">
    <h1>Recent Posts</h1>
    <div class="row">
      {% include recent_posts.html %}
    </div>
    <h1 id="instagram-tiles-header">Instagram</h1>
    <div class="row" id="instagram-tiles-row">
      {% include instagram_tiles.html %}
    </div>
  </div>
</recent>
{% include sidekick.html
  sidekick_bg=page.sidekick_bg
  sidekick_headline=page.sidekick_headline
  sidekick_cta=page.sidekick_cta
%}