<!--

To use book modal, include this in a layout and apply data parameters to any link:
data-target="book-modal",
data-url-cover-2x3,
data-url-kindle,
data-url-google-play,
data-url-kobo,
data-url-paperback,
data-url-bn,
data-url-pdf-mobi-epub

In window.dependenciesReady, invoke window.setupBookModal

-->
<div id="book-modal" class="modal">
  <div class="modal-background faster"></div>
  <div class="modal-content faster">
    <article class="box">
      <div class="columns is-vcentered is-mobile">
        <div class="column is-one-third">
          <figure class="image is-2by3">
            <img class="book-modal-cover">
          </figure>
        </div>
        <div class="column is-two-thirds">
          <h2 class="subtitle is-4">How do you like to read?</h2>
          <a class="button book-modal-kindle-btn" ga-event-category="{{site.ga.categories.book-purchase-intent}}">
            <img class="book-modal-store-img" src="/assets/images/book-modal/amazon-icon.png">
            <span>Amazon</span>
          </a>
          <a class="button book-modal-kobo-btn" ga-event-category="{{site.ga.categories.book-purchase-intent}}">
            <img class="book-modal-store-img" src="/assets/images/book-modal/kobo-icon.png">
            <span>Kobo</span>
          </a>
          <a class="button book-modal-google-play-btn" ga-event-category="{{site.ga.categories.book-purchase-intent}}">
            <img class="book-modal-store-img" src="/assets/images/book-modal/google-play-books-icon.png">
            <span>Play Books</span>
          </a>
          <a class="button book-modal-bn-btn" ga-event-category="{{site.ga.categories.book-purchase-intent}}">
            <img class="book-modal-store-img" src="/assets/images/book-modal/nook-icon.png">
            <span>Nook</span>
          </a>
          <a class="button book-modal-pdf-mobi-epub-btn" ga-event-category="{{site.ga.categories.book-purchase-intent}}">
            <img class="book-modal-store-img" src="/assets/images/book-modal/pdf-icon.png">
            <span>PDF/MOBI/ePub</span>
          </a>
          <a class="button book-modal-paperback-btn" ga-event-category="{{site.ga.categories.book-purchase-intent}}">
            <img class="book-modal-store-img" src="/assets/images/book-modal/paperback-icon.png">
            <span>Paperback</span>
          </a>
        </div>
      </div>
    </article>
  </div>
  <button class="modal-close is-large" aria-label="close"></button>
</div>
<script type="text/javascript">
{% include book-modal.js %}
</script>
