{% assign exitBook = site.books | first %}
{% assign exitCourse = site.courses | first %}
<div id="exit-popup" class="modal">
  <div class="modal-background fast"></div>
  <div class="modal-content fast">
    <article class="box">
      <h2 class="subtitle is-3 has-text-centered">Before You Make Like a 🌳 And 🍂!</h2>
      <p><span class="dropcap">I</span>'ve been hard at work on making some great stuff for marketers. <span style="has-text-weight-semibold">If you want more and better inbound leads</span>, I think I can help.</p><br \>
      <p>Over the past year, I've been writing like crazy to put together <a href="{{exitBook.url}}"><em>Good Content: A Genuine Content Strategy for the Reluctant Marketer</em></a>. What started as a book about digital marketing ended up as a content-marketing-focused guide that helps marketers grow, convert, and build relationships with their audeince.</p>
      <br />
      <p><em>Good Content</em> is available now on <a href="{{exitBook.url_kindle}}">Kindle</a>, <a href="{{exitBook.url_bn}}">Nook</a>, <a href="{{exitBook.url_google_play}}">Google Play Books</a>, <a href="{{exitBook.url_kobo}}">Kobo</a>, and in <a href="{{exitBook.url_paperback}}">Paperback</a>.</p>
      <br />
      <div class="has-text-centered">
        <a class="button is-warning is-rounded" href="{{exitBook.url}}">
          <span class="icon is-small">
            <i class="fas fa-book"></i>
          </span>
          <span><em>Start Reading {{exitBook.title}}!</em></span>
        </a>
        <p class="is-size-7"><br />(sample available)</p>
      </div>
      <hr />
      <p>But if you prefer <span style="has-text-weight-semibold">online courses</span>, I highly recommend you check out my new Skillshare class, <a href="{{exitCourse.course_url}}" target="_blank"><em>{{exitCourse.title}}: {{exitCourse.subtitle}}</em></a>.<br /><br />In it, you learn how to perform free keyword research that finds organic topics perfectly designed to attract your target audience.<br /><br />The course includes:</p>
      <br />
        <ul style="list-style-type:circle; list-style-position: inside;">
          <li>44 Minutes of Video</li>
          <li>Template Spreadsheets and Formulas</li>
          <li>Access to All Presentation Slides</li>
          <li>Bonus Extended Trial of <a href="http://www.semrush.com/billing/offers/buy/vecqsycz?promo=SKILLSHARE-4A6ZGLU8">SEMRush</a> (an incredible swiss-army marketing tool)</li>
        </ul>
      <br />
      <div class="has-text-centered">
        <a class="button is-primary is-rounded" href="{{exitCourse.course_url}}">
          <span class="icon is-small">
            <i class="fas fa-chalkboard-teacher"></i>
          </span>
          <span><em>Discover Amazing Content Ideas!</em></span>
        </a>
      </div>
    </article>
  </div>
  <button class="modal-close is-large" aria-label="close"></button>
</div>
<script type="text/javascript">
/* This merely provides the key and expiration date for this specific popup */
var exitPopupCookie = 'course-and-book-08-2018';
var exitPopupExp = 7;
{% include exit-popup.js %}
</script>
