{%- if page.canonical -%} {%- assign canonical = page.canonical -%} {%- else -%}
{%- assign canonical = page.url | prepend: site.url -%} {%- endif -%}
<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "BreadcrumbList",
    "itemListElement": [
      {
        "@type": "ListItem",
        "position": 1,
        "name": "Courses",
        "item": "https://www.stanleyidesis.com/courses"
      },
      {
        "@type": "ListItem",
        "position": 2,
        "name": "{{page.main_title}}",
        "item": "{{canonical}}"
      }
    ]
  }
</script>
<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "Course",
    "name": "{{page.title}}",
    "description": "{{page.course_pitch}}",
    "provider": {
      "@type": "Organization",
      "name": "Stanley Idesis",
      "sameAs": "https://www.stanleyidesis.com"
    }
  }
</script>
