<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="social-icons col-xs-12 col-sm-6">
        <ul>
          <li><a href="{{ site.base_facebook | replace: '$s', site.facebook_username }}"><img src="/images/handdrawn-icons/svg-handdrawn-facebook.svg"/></a></li>
          <li><a href="{{ site.base_github | replace: '$s', site.github_username }}"><img src="/images/handdrawn-icons/svg-handdrawn-github.svg"/></a></li>
          <li><a href="{{ site.base_instagram | replace: '$s', site.instagram_username }}"><img src="/images/handdrawn-icons/svg-handdrawn-instagram.svg"/></a></li>
          <li><a href="{{ site.base_linkedin | replace: '$s', site.linkedin_username }}"><img src="/images/handdrawn-icons/svg-handdrawn-linkedin.svg"/></a></li>
          <li><a href="{{ site.base_twitter | replace: '$s', site.twitter_username }}"><img src="/images/handdrawn-icons/svg-handdrawn-twitter.svg"/></a></li>
          <li><a href="{{ site.rss }}"><img src="/images/handdrawn-icons/svg-handdrawn-rss.svg"/></a></li>
          <li><a href="{{ site.base_youtube | replace: '$s', site.youtube_username }}"><img src="/images/handdrawn-icons/svg-handdrawn-youtube.svg"/></a></li>
        </ul>
      </div>
      <div class="copyright col-xs-12 col-sm-6">
        <small>{{ site.owner | prepend: '© '}}</small>
      </div>
    </div>
  </div>
</footer>