<div class="footer">
  <div class="container footer-container">
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <ul class="footer-socialIconList u-flattenListLTR u-noCushion">
          <li class="footer-socialIconListItem u-noCushion">
            <a href="{{ site.base_facebook | replace: '$s', site.facebook_username }}">
              <img class="footer-socialIconImage"
                   src="/images/handdrawn-icons/svg-handdrawn-facebook.svg"/>
            </a>
          </li>
          <li class="footer-socialIconListItem u-noCushion">
            <a href="{{ site.base_github | replace: '$s', site.github_username }}">
              <img class="footer-socialIconImage"
                   src="/images/handdrawn-icons/svg-handdrawn-github.svg"/>
            </a>
          </li>
          <li class="footer-socialIconListItem u-noCushion">
            <a href="{{ site.base_instagram | replace: '$s', site.instagram_username }}">
              <img class="footer-socialIconImage"
                   src="/images/handdrawn-icons/svg-handdrawn-instagram.svg"/>
            </a>
          </li>
          <li class="footer-socialIconListItem u-noCushion">
            <a href="{{ site.base_linkedin | replace: '$s', site.linkedin_username }}">
              <img class="footer-socialIconImage"
                   src="/images/handdrawn-icons/svg-handdrawn-linkedin.svg"/>
            </a>
          </li>
          <li class="footer-socialIconListItem u-noCushion">
            <a href="{{ site.base_twitter | replace: '$s', site.twitter_username }}">
              <img class="footer-socialIconImage"
                   src="/images/handdrawn-icons/svg-handdrawn-twitter.svg"/>
            </a>
          </li>
          <li class="footer-socialIconListItem u-noCushion">
            <a href="{{ site.rss }}">
              <img class="footer-socialIconImage"
                   src="/images/handdrawn-icons/svg-handdrawn-rss.svg"/>
            </a>
          </li>
          <li class="footer-socialIconListItem u-noCushion">
            <a href="{{ site.base_youtube | replace: '$s', site.youtube_username }}">
              <img class="footer-socialIconImage"
                   src="/images/handdrawn-icons/svg-handdrawn-youtube.svg"/>
            </a>
          </li>
        </ul>
      </div>
      <div class="footer-copyright u-alignChildrenCenter col-xs-12 col-sm-6">
        <span class="f-fontSmaller">{{ site.owner | prepend: '© '}}</span>
      </div>
    </div>
  </div>
</div>