<header>
  <div class="header">
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-xs-12">
          <h1 class="header-title"><a href="#">{{ site.title }}</a></h1>
        </div>
        <div class="col-sm-6 col-xs-12" role="navigation">
          <ul>
            <li role="presentation"><a href="#">writes</a>,</li>
            <li role="presentation"><a href="#">performs</a>,</li>
            <li role="presentation"><a href="#">codes</a>,</li>
            <li role="presentation">and <a href="#">responds</a>.</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</header>