<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

  <!-- Favicon -->
  <!-- For IE 11, Chrome, Firefox, Safari, Opera -->
  <link rel="icon" href="/images/ico_16.jpg" sizes="16x16" type="image/jpg">
  <link rel="icon" href="/images/ico_32.jpg" sizes="32x32" type="image/jpg">
  <link rel="icon" href="/images/ico_48.jpg" sizes="48x48" type="image/jpg">
  <link rel="icon" href="/images/ico_64.jpg" sizes="62x62" type="image/jpg">

  <!--
    Mobile window themeing
  -->

  <!-- Chrome, Firefox OS, Opera and Vivaldi -->
  <meta name="theme-color" content="#2ECC71">
  <!-- Windows Phone -->
  <meta name="msapplication-navbutton-color" content="#2ECC71">
  <!-- iOS Safari -->
  <meta name="apple-mobile-web-app-status-bar-style" content="#2ECC71">

  <!-- Setup SEO Variables Up Top -->
  {% if page.title %}
    {% assign title = page.title | escape %}
  {% else %}
    {% assign title = site.title | escape %}
  {% endif %}
  {% if page.excerpt %}
    {% assign description = page.excerpt | strip_html | strip_newlines | truncate: 160 %}
  {% else %}
    {% assign description = site.description %}
  {% endif %}
  {% if page.promo-thumb %}
    {% assign image = page.promo-thumb | prepend: site.url %}
  {% else %}
    {% assign image = "images/ico_64.jpg" | prepend: site.url %}
  {% endif %}
  {% assign url = page.url | prepend: site.url %}

  <!-- Important SEO Stuff -->
  <title>{{ title }}</title>
  <meta name="description" content="{{ description }}">
  {% if page.keywords %}
  <meta name="keywords" content="{{ page.keywords }}">
  {% endif %}
  <meta name="author" content="Stanley Idesis">

  <!-- Twitter -->
  <meta name="twitter:creator" content="{{ site.twitter_username | prepend: '@' }}">
  <meta name="twitter:url" content="{{ url }}">
  <meta name="twitter:title" content="{{ title }}">
  <meta name="twitter:description" content="{{ description }}">
  <meta name="twitter:image" content="{{ image }}">

  <!-- Facebook OpenGraph -->
  <meta property="og:type" content="{% if page.layout == 'post' %}article{% else %}website{% endif %}">
  <meta property="og:url" content="{{ url }}">
  <meta property="og:title" content="{{ title }}">
  <meta property="og:description" content="{{ description }}">
  <meta property="og:image" content="{{ image }}">

  <!-- Google+ -->
  <meta itemprop="name" content="{{ title }}">
  <meta itemprop="description" content="{{ description }}">
  <meta itemprop="image" content="{{ image }}">

  <!-- Apple/iOS -->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="apple-mobile-web-app-title" content="{{ site.title }}">

  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ site.rss | prepend: site.url }}">

  {% if JEKYLL.ENVIRONMENT != "development" %}
  <!-- Google Analytics -->
  <script type="text/javascript" src="/js/google-analytics.js"></script>
  {% endif %}
</head>
