<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  {%- assign favicon_url = site.url -%}
  {%- if site.environment == 'dev' -%}
    {%- assign favicon_url = '' -%}
  {%- endif -%}

  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ favicon_url | append: '/apple-touch-icon-144x144.png' }}" />
  <link rel="apple-touch-icon-precomposed" sizes="152x152" href="{{ favicon_url | append: '/apple-touch-icon-152x152.png' }}" />
  <link rel="icon" type="image/png" href="{{ favicon_url | append: '/favicon-32x32.png' }}" sizes="32x32" />
  <link rel="icon" type="image/png" href="{{ favicon_url | append: '/favicon-16x16.png' }}" sizes="16x16" />
  <meta name="application-name" content="Stanley Idesis"/>
  <meta name="msapplication-TileColor" content="#FFFFFF" />
  <meta name="msapplication-TileImage" content="{{ favicon_url | append: '/mstile-144x144.png' }}" />

  {%- include seo.html -%}
  <link rel="stylesheet" href="/assets/main-v1.css">
  {%- feed_meta -%}

  <!-- Loadjs: the only embedded js dependency -->
  <script src="/js/loadjs.min.js"></script>
  <!-- Load Js Dependencies -->
  {%- if site.environment == 'prod' -%}
  <script>
    window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
    ga('create', 'UA-37480432-6', 'auto');

    ga('require', 'eventTracker');
    ga('require', 'cleanUrlTracker');
    ga('require', 'outboundLinkTracker', {
      events: ['click', 'auxclick', 'contextmenu']
    });
    ga('require', 'maxScrollTracker', {
      maxScrollMetricIndex: 1,
      timeZone: 'America/Chicago'
    });
    ga('require', 'pageVisibilityTracker', {
      visibleThreshold: 3000,
      sendInitialPageview: true,
      visibleMetricIndex: 2,
      timeZone: 'America/Chicago'
    });
    loadjs(['https://www.google-analytics.com/analytics.js', '/js/autotrack.js']);
  </script>
  {%- endif -%}
  <script>
    window.dependencyCallbacks = [];
    window.addDependencyCallback = function(callback) {
      window.dependencyCallbacks.push(callback);
    };
    loadjs(['https://use.fontawesome.com/releases/v5.1.0/js/all.js',
            'https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js',
            '/js/js.cookie.js'
          ],
            /* Load Animate jQuery Plugin after jQuery */
            function() {
              loadjs(['/js/animate.css.jquery.js'], function() {
                if (window.dependencyCallbacks.length > 0) {
                  for (var i = 0; i < window.dependencyCallbacks.length; i++) {
                    window.dependencyCallbacks[i]();
                  }
                }
              });
          });
  </script>
</head>
