<header>
  <div class="header">
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-xs-12">
          <h1 class="header-title"><a href="/">{{ site.title }}</a></h1>
        </div>
        <div class="col-sm-6 col-xs-12" role="navigation">
          <ul>
            {% assign pages = site.pages | where:"production","true" %}
            {% assign length = pages | size %}
            {% for page in pages %}
              {% if forloop.last == true %}
                <li role="presentation">{% if length > 1 %}and {% endif %}<a href="{{page.url}}">{{ page.title }}</a>.</li>
              {% else %}
                <li role="presentation"><a href="{{page.url}}">{{ page.title }}</a>{% if length > 2 %},{% endif %}</li>
              {% endif %}
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>
</header>