<div class="hero">
  <div class="jumbotron" id="jumbotron" style="background-image: url({{ include.hero_bg }});">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <h1>{{ include.hero_headline }}</h1>
          <p class="lead">{{ include.hero_lead }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  function greedyJumbotron(jumbotron) {
    // HAAXX
    if (screen.width >= 768) {
      jumbotron.height = 500;
      return;
    }
    // Approximately URL bar height in Chrome on tablet
    var HEIGHT_CHANGE_TOLERANCE = 100;
    var viewportHeight = screen.height;
    window.onresize = function () {
      if (Math.abs(viewportHeight - screen.height) > HEIGHT_CHANGE_TOLERANCE) {
        viewportHeight = screen.height;
        update();
      }
    };
    function update() {
      jumbotron.style.height = viewportHeight + 'px';
    }
    update();
  }
</script>
<script type="text/javascript">
  (function() {
    greedyJumbotron(document.getElementById("jumbotron"));
  })();
</script>