<script type="application/ld+json">
{ "@context": "http://schema.org",
 "primaryImageOfPage": {
   "@type": "ImageObject",
   "caption": "Stanley Idesis, he doesn't fit into boxes",
   "representativeOfPage": "True",
   "contentUrl": "http://www.stanleyidesis.com/assets/images/home/hero-stanley-3.jpg"
 },
 "@type": "WebPage",
 "keywords": "stanley idesis consultant contractor artist copywriter content strategy developer author writer",
 "url": "http://www.stanleyidesis.com",
 "dateModified": "2018-06-27",
 "author": {
    "@type": "Person",
    "name": "Stanley Idesis",
    "sameAs": [
        "https://twitter.com/stanleyidesis",
        "https://github.com/stanidesis"
    ]
  }
 }
</script>
