<div class="container">
  <nav class="navbar is-transparent is-spaced">
    <div class="navbar-brand">
      <a class="navbar-item" href="/">
        <h1 class="subtitle">Stanley Idesis</h1>
      </a>
      <div class="navbar-burger burger" data-target="navbarExampleTransparentExample">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>

    <div id="navbarExampleTransparentExample" class="navbar-menu">
      <div class="navbar-start">
        <a class="navbar-item" href="/portfolio">
          Portfolio
        </a>
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link">
            Courses
          </a>
          <div class="navbar-dropdown is-boxed">
            <a class="navbar-item" href="/">
              <p>Coming Soon!</p>
            </a>
          </div>
        </div>
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link">
            Workshops
          </a>
          <div class="navbar-dropdown is-boxed">
            <a class="navbar-item" href="/">
              <p>Coming Soon!</p>
            </a>
          </div>
        </div>
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link">
            Books
          </a>
          <div class="navbar-dropdown is-boxed">
            <a class="navbar-item" href="/">
              <p>Good Content: A Genuine Content Strategy for the Reluctant Marketer<br \><strong>[Available for Pre-Order]</strong></p>
            </a>
          </div>
        </div>
      </div>

      <div class="navbar-end">
        <div class="navbar-item">
          <p class="control">
            <a class="button is-primary" href="javascript:void(Tawk_API.toggle())">
              <span class="icon">
                <i class="far fa-comment"></i>
              </span>
              <span>Chat with Stanley</span>
            </a>
          </p>
        </div>
    </div>
  </nav>
</div>
<!-- Activate the hamburger menu after loading the nav bar -->
{%- include navbar.js.html -%}
