<script type="text/javascript">
  /* Returns an array where index is the unique identifier, value is the name */
  var pullFromDropdown = function(selector) {
    var $dropdowns = $(selector);
    var array = new Array($dropdowns.length);
    $dropdowns.each(function() {
      array[parseInt($(this).attr('data-choice').match(/\d+/g))] = $(this).text();
    });
    return array;
  };

  window.dependenciesReady = function() {
    /* Drop-down filter activate/deactivate */
    $('.dropdown button').on('click', function(e) {
      var $activeDropdown = $('.dropdown.is-active').first();
      if ($activeDropdown[0] && $(this)[0] != $activeDropdown.find('button').first()[0]) {
        $activeDropdown.removeClass('is-active');
      }
      $(this).parents('.dropdown').toggleClass('is-active');
      e.stopPropagation();
    });
    /* Click outside closes all dropdowns */
    $('html').on('click', function(e) {
      $('.dropdown.is-active').toggleClass('is-active');
    });

    /* Load all roles, clients, and topics into objects */
    window.allRoles = pullFromDropdown('#dropdown-roles a.dropdown-item');
    window.allClients = pullFromDropdown('#dropdown-clients a.dropdown-item');
    window.allTopics = pullFromDropdown('#dropdown-topics a.dropdown-item');
    /* Load all works */
    var $workEntries = $('.column.is-one-quarter');
    window.allWorks = new Array($workEntries.length);
    $workEntries.each(function() {
      var work = {};
      var $work = $(this);
      work.id = $work.attr('data-id');
      work.title = $work.attr('data-title');
      work.subtitle = $work.attr('data-subtitle');
      work.content = $work.attr('data-output');
      work.banner = $work.attr('data-banner');
      work.urlVisit = $work.attr('data-url-visit');
      work.urlSource = $work.attr('data-url-source');
      window.allWorks[parseInt(work.id.match(/\d+/g))] = work;
    });

    $('.modal-background, .modal-close').click(function() {
      $(this).parent().toggleClass('is-active');
    });

    /* On Click for works */
    $workEntries.click(function() {
      var work = window.allWorks[parseInt($(this).attr('data-id').match(/\d+/g))];
      var $modal = $('.modal').first();
      $modal.find('figure > img').attr('src', work.banner);
      $modal.find('h1').first().text(work.title);
      $modal.find('h2').first().text(work.subtitle);
      $modal.find('.content').html(work.content);
      $modal.toggleClass('is-active');
    });

    console.log(window.allWorks);
  }
</script>
