<script type="application/ld+json">
{
 "@context": "http://schema.org",
 "@type": "BlogPosting",
 "headline": "{{include.headline}}",
 "alternativeHeadline": "{{include.alt_headline}}",
 "image": "{{include.image_url}}",
 "editor": "{{include.editor}}",
 "genre": "{{include.genre}}",
 "keywords": {{include.keywords}},
 "wordcount": "{{include.wordcount}}",
 "publisher": {
   "@type": "Organization",
   "url": "{{site.url}}",
   "name": "Stanley Idesis, Inc.",
   "logo": {
     "@type": "ImageObject",
     "url": "{{site.url | append: site.logo_url}}",
     "width": "{{site.logo_width}}",
     "height": "{{site.logo_height}}"
   },
   "contactPoint": {
     "@type": "ContactPoint",
     "url": "{{site.url}}",
     "contactType": "customer service"
   }
 },
 "url": "{{include.url}}",
 "datePublished": "{{include.date_published}}",
 "dateCreated": "{{include.date_created}}",
 "dateModified": "{{include.date_modified}}",
 "description": "{{include.description}}",
 "articleBody": "{{include.article_body}}",
 "author": {
    "@type": "Person",
    "name": "Stanley Idesis",
    "sameAs": ["https://twitter.com/stanleyidesis",
        "https://github.com/stanidesis"]
  },
  "mainEntityOfPage": {
    "@type": "WebPage",
    "@id": "{{include.url}}"
  }
}
</script>
