<section class="hero is-small has-text-centered post-cta prosheets-cta animated">
  <div class="hero-body">
    <p class="subtitle is-size-4" style="color: white;">Pimp My ProSheets</p>
    <p>For as little as $10, I can modify ProSheets to suit your needs or gut it to create a tailor-made version
      <strong style="color: white;">just
        for
        you.</strong>
    </p>
    <a class="button is-white is-rounded is-outlined" ga-event-category="{{ site.ga.categories.post-cta }}"
      href="mailto:prosheets@stanleyidesis.com?subject=Customize%20My%20ProSheets">
      <span class="icon"> <i class="fas fa-envelope"></i> </span>
      <span>Tell Me What You Want</span>
    </a>
    <div class="has-text-centered">
      <span class="small is-size-7">...what you really, <em>really</em> want.</span>
    </div>
  </div>
</section>
