<!--

To use sample modal, include this in a layout and apply data parameters to any link:
data-target="sample-modal",
data-url-img-2x3, {Resource for a 2x3 image}
data-title, {String title for the sample}
and data-type {Type for reference, book, course, future content types...}

In window.dependenciesReady, invoke window.setupSampleModal

-->
<div id="sample-modal" class="modal">
  <div class="modal-background"></div>
  <div class="modal-content">
    <article class="box">
      <div class="columns is-vcentered is-mobile">
        <div class="column is-one-third">
          <figure class="image is-2by3">
            <img class="sample-modal-img">
            <p class="sample-banner is-uppercase has-text-white has-text-centered has-text-weight-bold">sample</p>
          </figure>
        </div>
        <div class="column is-two-thirds">
          <p class="subtitle is-size-5 is-size-3-desktop">Send a sample of <span class="sample-span-title is-italic has-text-weight-semibold">placeholder</span> to:</p>
          <form action="https://formspree.io/samples@stanleyidesis.com" method="POST">
            <input class="is-hidden sample-input-title" name="put-title-here">
            <input class="is-hidden sample-input-type" name="put-type-here">
            <div class="field is-horizontal">
              <div class="field-body">
                <div class="field">
                  <p class="control is-expanded has-icons-left">
                    <input class="input" type="text" placeholder="name" autocomplete="name" name="_name">
                    <span class="icon is-small is-left">
                      <i class="fas fa-user"></i>
                    </span>
                  </p>
                  <p class="sample-help-name help is-success is-invisible">Nice name!</p>
                </div>
                <div class="field">
                  <p class="control is-expanded has-icons-left">
                    <input class="input" type="email" placeholder="email" autocomplete="email" name="_replyto">
                    <span class="icon is-small is-left">
                      <i class="fas fa-envelope"></i>
                    </span>
                  </p>
                  <p class="sample-help-email help is-success is-invisible">Solid email!</p>
                </div>
              </div>
            </div>
            <div class="field is-horizontal">
              <div class="field-body">
                <div class="field">
                  <div class="control">
                    <button class="button is-primary is-rounded" disabled>
                      <span class="icon">
                        <i class="fas fa-paper-plane"></i>
                      </span>
                      <span>Send Sample</span>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </article>
  </div>
</div>
<script type="text/javascript">
{% include sample-modal.js %}
</script>
