{%- if page.title -%}
  {%- assign title = page.title -%}
{%- else -%}
  {%- assign title = site.title -%}
{%- endif -%}
<title>{{title}}</title>

{%- if page.description -%}
  {%- assign description = page.description -%}
{%- else -%}
  {%- assign description = site.description -%}
{%- endif -%}
<meta name="description" content="{{description}}">

{%- if page.canonical -%}
  {%- assign canonical = page.canonical -%}
{%- else -%}
  {%- assign canonical = page.url | prepend: site.url -%}
{%- endif -%}
<link rel="canonical" href="{{canonical}}"/>

{%- assign social_image = site.logo_url -%}
{%- if page.social_image_url -%}
  {%- assign social_image = page.social_image_url -%}
{%- endif -%}
<!-- Facebook -->
<meta property="og:title" content="{{title}}">
<meta property="og:description" content="{{description}}">
<meta property="og:image" content="{{social_image}}">
<meta property="og:url" content="{{site.url | append: page.url}}">
<meta property="og:site_name" content="{{site.name}}">

<!-- Twitter -->
<meta name="twitter:title" content="{{title}}">
<meta name="twitter:description" content=" {{description}}">
<meta name="twitter:card" content="summary_large_image">
