{%- if page.title -%}
  {%- assign title = page.title -%}
{%- else -%}
  {%- assign title = site.title -%}
{%- endif -%}
<title>{{title}}</title>

{%- if page.description -%}
  {%- assign description = page.description -%}
{%- else -%}
  {%- assign description = site.description -%}
{%- endif -%}
<meta name="description" content="{{description}}">

{%- if page.canonical -%}
  {%- assign canonical = page.canonical -%}
{%- else -%}
  {%- assign canonical = page.url -%}
{%- endif -%}
<link rel="canonical" href="{{site.url | append: canonical}}"/>
