<!--  This function shifts the content to fit below the fixed header  -->
<script type="text/javascript">
  var shiftContentUnderHeader = function() {
    var header = document.getElementsByClassName("header-wrapper")[0];
    var sibling = header.nextElementSibling;
    while (sibling.nextElementSibling && sibling.tagName !== "DIV") {
      sibling = sibling.nextElementSibling;
    }
    sibling.style.marginTop = header.offsetHeight + "px";
  };
  window.addEventListener("resize", shiftContentUnderHeader);
</script>