// Establish link transitions
a {
    -webkit-transition: color $default-anim-length ease;
    -moz-transition:    color $default-anim-length ease;
    -o-transition:      color $default-anim-length ease;
    transition:         color $default-anim-length ease;
}

// Remove underlines on hover
a:hover {
   text-decoration: none;
}

// Set font for headers
h1, h2, h3, h4, h5, h6 {
  font-family: $base-font-family;
  font-weight: $base-font-weight;
}

// Set background color
body {
  background-color: $brand-color-background;
}

html,body {
  height: 100%;
}