/******************************
 * Includes
 ******************************/

/**
 * Subscribe
 */
.subscribe-banner, .subscribe-box {
  background-color: #333;
  color: $gray-light;
  padding: 15px 0;

  #mc_embed_signup_scroll {
    background: transparent;
    clear: left;
    text-align: center;

    .email {
      font-family: $fontFamily-base;
      background-color: $color-brandBackground;
      font-size: 18px;
      height: 38px;
    }

    .clear {
      width: 100%;
      display: inline-block;
    }

    .btn {
      width: 100%;
      padding: 0px 12px;
      height: 38px;
      font-size: 18px;
    }
  }
}

.subscribe-banner {
  #mc_embed_signup_scroll {
    @include m-mediaMin($screen-sm-min) {
      text-align: right;

      .email, .btn {
        height: 32px;
        font-size: 14px;
      }

      .email {
        width: 70%;
      }

      .clear {
        width: 20%;
      }
    }
  }
}

.subscribe-box {
  padding: 15px 15px;
  margin-top: 15px;

  h4 {
    margin-top: 0;
  }

  #mc_embed_signup_scroll {
    .email, .btn {
      height: 32px;
      font-size: 14px;
    }

    .email {
      width: 100%;
    }

    .clear {
      display: inline;
      width: 100%;
    }
  }
  @include m-mediaMin($screen-sm-min) {
    margin-top: 0;
    border-radius: 4px;
  }
}