/******************************
 * /responds
 ******************************/

contact {
  .row {
    margin-bottom: 20px;
  }

  .btn-primary {
    border: none;
    &:hover, &:active, &:focus, &:visited {
      border: none;
    }
  }
}

/******************************
 * Includes
 ******************************/

/**
 * Hero
 */
.hero {
  .jumbotron {
    height:        100%;
    margin-bottom: 0;

    background-repeat:       no-repeat;
    background-attachment:   scroll;
    background-position:     center center;
    -webkit-background-size: cover;
    -moz-background-size:    cover;
    -o-background-size:      cover;
    background-size:         cover;
    // http://stackoverflow.com/a/24084708/372884
    box-shadow:              inset 0 0 0 1000px
      rgba($color-brandBackground, $alpha-imageScreen);

    text-align:     left;
    padding-top:    (3 * 20px);
    padding-bottom: (5 * 20px);

    @include m-mediaMin($screen-sm-min) {
      height: 500px;
    }

    .container {
      @include m-maxWidth($width-pageMax);
      background-color: transparent;
    }

    h1 {
      font-family: $fontFamily-headlines;
      font-weight: $fontWeight-headlines;
    }
  }
}

/**
 * Sidekick
 */
.sidekick {
  @include m-backgroundSize(cover);
  /*  To compensate for when it's right above the footer  */
  margin-bottom: -8px;
  margin-top: (2 * 20px);
  padding: (2 * 20px) 20px;
  background-repeat:       no-repeat;
  background-attachment:   scroll;
  background-position:     center center;
  // http://stackoverflow.com/a/24084708/372884
  box-shadow:              inset 0 0 0 1000px
    rgba($color-brandBackground, $alpha-imageScreen);
}

/**
 * Recent Posts
 */
.recent-posts {
  div {
    margin-top: 28px;
    @include m-mediaMin($screen-sm-min) {
      margin-top: 0;
    }
  }

  .recent-blurb {
    a {
      width: 100%;
    }
    img {
      width: 100%;
      @include m-hoverFloat(1.01, .7);
    }
    p {
      margin-top: 8px;
    }
    .post-title {
      font-size: 22px;
    }
  }
}

/**
 * Instagram Tiles
 */
.instagram-tiles {
  text-align: center;
  margin-top: 28px;
  font-size: 0px;

  @include m-mediaMin($screen-sm-min) {
    margin-top: 0;
  }

  .instagram-tile {
    display: inline-block;
    width: 33.33%;
    overflow: hidden;

    @include m-mediaMin($screen-sm-min) {
      width: auto;
    }

    img {
      @include m-transition(all 100ms ease-in);
      @include m-opacity(0.7);
      width: 100%;
      height: 100%;
      // Here because: http://stackoverflow.com/questions/3461441/prevent-flicker-on-webkit-transition-of-webkit-transform
      -webkit-backface-visibility:   hidden;

      @include m-mediaMin($screen-sm-min) {
        width: 104px;
        height: 104px;
      }
    }

    &:hover {
      position: absolute;
      z-index: 555555 !important;
      transform: scale(1.2);
      overflow: visible;
      img {
        @include m-opacity(1.0);
      }
    }

    &:nth-child(n+10):nth-child(-n+18) {
      display: none;

      @include m-mediaMin($screen-sm-min) {
        display: inline-block;
      }
    }
  }
}

/**
 * Subscribe
 */
.subscribe-banner, .subscribe-box {
  background-color: #333;
  color: $gray-light;
  padding: 15px 0;

  #mc_embed_signup_scroll {
    background: transparent;
    clear: left;
    text-align: center;

    .email {
      font-family: $fontFamily-base;
      background-color: $color-brandBackground;
      font-size: 18px;
      height: 38px;
    }

    .clear {
      width: 100%;
      display: inline-block;
    }

    .btn {
      width: 100%;
      padding: 0px 12px;
      height: 38px;
      font-size: 18px;
    }
  }
}

.subscribe-banner {
  #mc_embed_signup_scroll {
    @include m-mediaMin($screen-sm-min) {
      text-align: right;

      .email, .btn {
        height: 32px;
        font-size: 14px;
      }

      .email {
        width: 70%;
      }

      .clear {
        width: 20%;
      }
    }
  }
}

.subscribe-box {
  padding: 15px 15px;
  margin-top: 15px;

  h4 {
    margin-top: 0;
  }

  #mc_embed_signup_scroll {
    .email, .btn {
      height: 32px;
      font-size: 14px;
    }

    .email {
      width: 100%;
    }

    .clear {
      display: inline;
      width: 100%;
    }
  }
  @include m-mediaMin($screen-sm-min) {
    margin-top: 0;
    border-radius: 4px;
  }
}