/**
 * Container overrides
 */
.container {
    max-width:        $max-page-width;
    background-color: transparent;
}

/**
 * Button class, apply to <a></a>
 */
.btn {
    color:              $gray-dark;
    background-color:   $brand-color-highlight;
    border-radius:      3px;
    padding:            8px 12px;
    -webkit-transition: background-color $default-anim-length ease-in-out,
        color $default-anim-length ease-in-out;
    -moz-transition:    background-color $default-anim-length ease-in-out,
        color $default-anim-length ease-in-out;
    -o-transition:      background-color $default-anim-length ease-in-out,
        color $default-anim-length ease-in-out;
    transition:         background-color $default-anim-length ease-in-out,
        color $default-anim-length ease-in-out;

    &:hover {
        color:            $brand-color-background;
        background-color: darken($brand-color-highlight, 25%);
    }
}

/**
 * Site header
 */
.header {
    min-height:       56px;
    font-size:        24px;
    background-color: $brand-color-background;
    border-bottom: 1px solid rgba($gray, .5);

    .row {
        padding: 6px 0px;
    }

    li {
        line-height: inherit;
        display: inline-block;

        @include media-min($screen-sm-min) {
            line-height: 56px;
            text-align:  right;
        }
    }

    ul {
        text-align: center;
        padding:    0;
        margin: 0;

        @include media-min($screen-sm-min) {
            text-align: right;
            float:      right !important;
        }
    }

    .header-title {
        font-family: $heading-font-family;
        font-weight: $heading-font-weight;
        line-height: 56px;
        text-align:  center;
        margin:      0;

        @include media-min($screen-sm-min) {
            text-align: left;
        }

        a, a:hover {
            color: inherit;
        }
    }
}

/**
 * Site footer
 */
$footer-size: 40px;
$footer-size-alt: 28px;
.footer {

    margin-top: 80px;
    border-top: 1px solid rgba($gray, .5);

    .container {
        padding: $vertical-spacing $vertical-spacing;
    }

    // Social icons
    .social-icons {
        @include media-min($screen-sm-min) {
            padding-left: 0px;
        }
    }

    img {
        height:  $footer-size;
        width:   $footer-size;
        opacity: 0.7;

        -webkit-transition: opacity $default-anim-length ease-in-out;
        -moz-transition:    opacity $default-anim-length ease-in-out;
        -o-transition:      opacity $default-anim-length ease-in-out;
        transition:         opacity $default-anim-length ease-in-out;

        @include media-min($screen-sm-min) {
            height: $footer-size-alt;
            width: $footer-size-alt;
        }
    }

    img:hover {
        opacity: 1.0;
    }

    ul {
        text-align: center;
        padding:    0;
        margin:     0;

        @include media-min($screen-sm-min) {
            text-align: left;
        }
    }

    li {
        display: inline-block;
    }

    li:not(:first-child) {
        margin-left: 12px;
    }

    .copyright {
        line-height: $footer-size;
        text-align: center;

        @include media-min($screen-sm-min) {
            text-align: right;
            line-height: $footer-size-alt;
            padding-right: 0px;
        }
    }
}


/******************************
 * /writes
 ******************************/
post-item {
    h2 {
        margin-top: 0px;
    }
    p {
        @include media-min($screen-sm-min) {
            font-size: 22px;
        }
    }
    ul {
        padding: 0px 0px;
        margin: 0px 0px;
    }
    li {
        padding: 0px 8px;
        border: 1px solid $brand-color-highlight;
        border-radius: 3px;
        display: inline-block;
        margin-right: 6px;
        margin-bottom: 6px;

        -webkit-transition: all $default-anim-length ease-in-out;
        -moz-transition:    all $default-anim-length ease-in-out;
        -o-transition:      all $default-anim-length ease-in-out;
        transition:         all $default-anim-length ease-in-out;

        &:hover {
            color: white;
            background-color: $brand-color-highlight;
        }
    }
    img {
      width: 100%;
      @include hover-float(1.01, .7);
    }
}

/******************************
 * Article
 ******************************/
article {
    line-height: 1.65;
    font-size:   20px;

    .article-title {
        font-family: $heading-font-family;
        font-weight: $heading-font-weight;
    }

    .article-date-author {
        color: lighten($gray-light, 15%);
    }
}

/******************************
 * Article:Social/Related
 ******************************/
.social-related-wrapper {
    @include media-min($screen-sm-min) {
/*         text-align: right; */
/*         position: fixed; */
/*         width: 17%; */
    }
}

/******************************
 * Article:body
 ******************************/
.article-body {
    img {
        @include hover-float(1.01, .7);
        width: 100%;
    }

/*     @include media-min($screen-sm-min) {
        float: left;
        width: 58.33333333%;
    } */
}

/******************************
 * Article:related-posts
 ******************************/
.related-posts {
    border-top: 1px solid rgba($gray, .5);
    ul {
        margin: 0px;
        padding: 0px;
        list-style: none;
    }
}

/******************************
 * Article:share-post
 ******************************/
.share-post {
    border-top: 1px solid rgba($gray, .5);
    ul {
        margin: 0px;
        padding: 0px;
        list-style: none;
    }
}

/******************************
 * Entertains:videos
 ******************************/
videos {
    #subscribe-youtube {
        text-align: right;
        margin-top: 34px;
    }

    a {
        font-size: 24px;
    }

    iframe {
        @include hover-float(1.01, .7)
    }
}

/******************************
 * Entertains:credentials
 ******************************/
credentials {
    #headshot {
        @include hover-float(1.01, .7)
    }

    td:nth-child(2) {
        text-align: right;
    }
}

/******************************
 * /codes
 ******************************/

apps,experience {
  .codes-promo {
    max-height: 256px;
    width: 100%;
    overflow: hidden;
    margin-bottom: 12px;
    border: 1px solid $brand-color-text;
    @include hover-float(1.01, .7);
  }

  .codes-summary {
    height: $line-height-computed * 2;
    margin-bottom: 24px;
  }

  .codes-article {
    font-size: 28px;
    margin-left: 4px;
    color: #757575;
    &:hover {
      color: darken(#757575, 20%);
    }
  }

  .lead, .fa {
    line-height: 42px;
  }
}

/******************************
 * /responds
 ******************************/

contact {
  .row {
    margin-bottom: $vertical-spacing;
  }

  .btn-primary {
    border: none;
    &:hover, &:active, &:focus, &:visited {
      border: none;
    }
  }
}

/******************************
 * Includes
 ******************************/

/**
 * Blurb
 */
.blurb {
    text-align:       center;
    background-color: $brand-color-text;

    .container {
        padding-top:      (2 * $vertical-spacing);
        padding-bottom:   (2 * $vertical-spacing);
        background-color: $brand-color-text;
    }

    h1 {
        font-size: 28px;

        @include media-min($screen-sm-min) {
            // Bootstrap's h1 size
            font-size: 41px;
        }
    }
}

/**
 * Hero
 */
hero {
    .jumbotron {
        height:        100%;
        margin-bottom: 0;

        background-repeat:       no-repeat;
        background-attachment:   scroll;
        background-position:     center center;
        -webkit-background-size: cover;
        -moz-background-size:    cover;
        -o-background-size:      cover;
        background-size:         cover;
        // http://stackoverflow.com/a/24084708/372884
        box-shadow:              inset 0 0 0 1000px
            rgba($brand-color-background, $image-screen-alpha);

        text-align:     left;
        padding-top:    (3 * $vertical-spacing);
        padding-bottom: (5 * $vertical-spacing);

        @include media-min($screen-sm-min) {
            height: 500px;
        }

        .container {
            max-width:        $max-page-width;
            background-color: transparent;
        }

        h1 {
            font-family: $heading-font-family;
            font-weight: $heading-font-weight;
        }
    }
}

/**
 * Sidekick
 */
.sidekick {
    margin-top:              (2 * $vertical-spacing);
    padding: (2 * $vertical-spacing) $vertical-spacing;
    background-repeat:       no-repeat;
    background-attachment:   scroll;
    background-position:     center center;
    -webkit-background-size: cover;
    -moz-background-size:    cover;
    -o-background-size:      cover;
    background-size:         cover;
    // http://stackoverflow.com/a/24084708/372884
    box-shadow:              inset 0 0 0 1000px
            rgba($brand-color-background, $image-screen-alpha);
}

/**
 * Recent Posts
 */
.recent_posts {

    div:first-child {
        margin-top: 28px;

        @include media-min($screen-sm-min) {
            margin-top: 0;
        }
    }

    a, a:hover {
        color: $brand-color-text;
    }

    p {
        font-size:          20px;
        height:             126px;
        border-bottom:      3px solid transparent;
        -webkit-transition: all 100ms ease-in;
        -moz-transition:    all 100ms ease-in;
        -o-transition:      all 100ms ease-in;
        transition:         all 100ms ease-in;

        @include media-min($screen-sm-min) {
            height: 148px;
        }
    }

    p:hover {
        border-bottom: 3px solid $brand-color-text;
    }

    p span {
        color: $gray;
    }

    .recent_blurb {
        margin-bottom: 16px;

        @include media-min($screen-sm-min) {
            margin-bottom: 0px;
        }
    }
}

/**
 * Instagram Tiles
 */
.instagram-tiles {
    text-align: center;
    margin-top: 28px;
    font-size: 0px;

    @include media-min($screen-sm-min) {
        margin-top: 0;
    }

    .instagram-tile {
        display: inline-block;
        width: 33.33%;
        overflow: hidden;

        @include media-min($screen-sm-min) {
            width: auto;
        }

        img {
            opacity: 0.7;
            width: 100%;
            height: 100%;
            -webkit-transition: all 100ms ease-in;
            -moz-transition:    all 100ms ease-in;
            -o-transition:      all 100ms ease-in;
            transition:         all 100ms ease-in;
            // Here because: http://stackoverflow.com/questions/3461441/prevent-flicker-on-webkit-transition-of-webkit-transform
            -webkit-backface-visibility:   hidden;

            @include media-min($screen-sm-min) {
                width: 104px;
                height: 104px;
            }
        }

        &:hover {
            position: absolute;
            z-index: 555555 !important;
            transform: scale(1.2);
            overflow: visible;
            img {
                opacity: 1.0;
            }
        }

        &:nth-child(n+10):nth-child(-n+18) {
            display: none;

            @include media-min($screen-sm-min) {
                display: inline-block;
            }
        }
    }
}


/**
 * Twitter Timelines
 */
.timeline-Widget {
    display: inline-block;
    width: 100%;

    .SandboxRoot.env-bp-330 .timeline-Tweet-text,
    .timeline-Tweet-text {
        font-family: $base-font-family;
        font-size:   $base-font-size;
        line-height: $line-height-computed;
    }

    .timeline-Tweet-media,
    .timeline-Tweet-author,
    .timeline-Tweet-brand,
    .timeline-Tweet-actions {
        display: none;
    }

    .timeline-TweetList, .timeline-Tweet {
        padding: 0;
    }

    .timeline-Tweet-text {
        margin: 0;
    }
}

/**
 * Subscribe
 */
.subscribe-banner, .subscribe-box {
  background-color: #333;
  color: $gray-light;
  padding: 15px 0;

  #mc_embed_signup_scroll {
    background: transparent;
    clear: left;
    text-align: center;

    .email {
      font-family: $base-font-family;
      background-color: $brand-color-background;
      font-size: 18px;
      height: 38px;
    }

    .clear {
      width: 100%;
      display: inline-block;
    }

    .btn {
      width: 100%;
      padding: 0px 12px;
      height: 38px;
      font-size: 18px;
    }
  }
}

.subscribe-banner {
  #mc_embed_signup_scroll {
    @include media-min($screen-sm-min) {
        text-align: right;

        .email, .btn {
          height: 32px;
          font-size: 14px;
        }

        .email {
          width: 70%;
        }

        .clear {
          width: 20%;
        }
    }
  }
}

.subscribe-box {
  padding: 15px 15px;
  margin-top: 15px;

  h4 {
    margin-top: 0;
  }

  #mc_embed_signup_scroll {
    .email, .btn {
      height: 32px;
      font-size: 14px;
    }

    .email {
      width: 100%;
    }

    .clear {
      display: inline;
      width: 100%;
    }
  }
  @include media-min($screen-sm-min) {
    margin-top: 0;
    border-radius: 4px;
  }
}