.book-modal-store-img
  display: block
  max-height: 1.5rem
  height: auto
  margin-right: .5rem

.book-modal-cover
  border-radius: $box-radius
  border-style: solid
  border-color: $grey-dark
  border-width: 1px

.book-modal-button
  justify-content: flex-start
  width: 100%
  margin-bottom: .7rem
  +desktop
    width: 48%

.book-modal-kindle-btn
  @extend .book-modal-button
  
.book-modal-google-play-btn
  @extend .book-modal-button

.book-modal-paperback-btn
  @extend .book-modal-button

.book-modal-bn-btn
  @extend .book-modal-button

.book-modal-kobo-btn
  @extend .book-modal-button

.book-modal-pdf-mobi-epub-btn
  @extend .book-modal-button
