#courses-full-story
    max-height: 0rem
    overflow: hidden
    transition: max-height .5s ease-in-out

#courses-full-story-separator
    cursor: pointer

#courses-full-story-icon
    opacity: 0
    margin-left: auto
    margin-right: auto
    width: 2rem
    height: 2rem
    line-height: 1.8rem
    background-color: $primary
    border-radius: 50%
    transition: opacity 1s ease-in-out, transform .2s ease-in-out
    &:hover
        transform: scale(1.3)

.courses-separator-column-left,
.courses-separator-column-right
    position: relative

.courses-separator-column-left:after
    position: absolute
    left: .75rem
    top: 50%
    width: calc(100% - .75rem)
    height: .1rem
    background: $primary
    border-color: $primary
    border-width: .1rem
    border-radius: .2rem
    content: ""
    display: block

.courses-separator-column-right:after
    position: absolute
    left: 0
    top: 50%
    width: calc(100% - .75rem)
    height: .1rem
    background: $primary
    border-color: $primary
    border-width: .1rem
    border-radius: .2rem
    content: ""
    display: block

.courses-available-course
    position: relative
    border: 0
    box-sizing: border-box
    vertical-align: middle

    &:after, &:before
        box-sizing: inherit
        content: ''
        position: absolute
        width: 0
        height: 0
        border: .2rem solid transparent
        pointer-events: none

    // This covers the top & right borders (expands right, then down)
    &::before
        top: 0
        left: 0

    // And this the bottom & left borders (expands left, then up)
    &::after
        bottom: 0
        right: 0

    // Hover styles
    &:hover::before,
    &:hover::after
        width: 100%
        height: 100%

    &:hover::before
        border-top-color: $primary // Make borders visible
        border-right-color: $primary
        transition: width 0.25s ease-out, height 0.25s ease-out 0.25s

    &:hover::after
        border-bottom-color: $primary // Make borders visible
        border-left-color: $primary
        transition: border-color 0s ease-out 0.5s, width 0.25s ease-out 0.5s, height 0.25s ease-out 0.75s