.portfolio-item
  -webkit-transition: all 250ms ease-in-out
  -moz-transition: all 250ms ease-in-out
  -ms-transition: all 250ms ease-in-out
  -o-transition: all 250ms ease-in-out
  transition: all 250ms ease-in-out
  &:hover
    -webkit-box-shadow: 0px 0px 39px 1px rgba(0,0,0,0.45)
    -moz-box-shadow: 0px 0px 39px 1px rgba(0,0,0,0.45)
    box-shadow: 0px 0px 39px 1px rgba(0,0,0,0.45)
    cursor: pointer
    transform: scale(1.02, 1.02)
    transform-origin: center

.portfolio-banner, .portfolio-item-thumbnail
  border-radius: $box-radius $box-radius 0rem 0rem

.browji-link
  text-decoration: underline

.portfolio-details
  background-color: $white-ter
  border-radius: $box-radius
  padding: .7rem

.portfolio-details ul
  margin-top: 0rem
