.post-main
  overflow: hidden
  position: relative

.post-duo
  display: flex
  
.post-nav
  position: relative
  +mobile
    display: none
  +tablet
    flex: 0 0 (14rem + 1.5rem)

.post-nav-content
  position: relative
  border-right: $white-ter .1rem solid
  padding: 1.5rem 0
  +tablet
    width: (14rem + 1.5rem)
    padding-right: 1.5rem

.post-nav-divider
  position: relative
  margin: 2rem 0
  &:before
    z-index: -1
    content: ''
    position: absolute
    height: 100%
    width: 100%
    border-bottom: $grey-lighter .2rem dotted
    transform: translateY(-50%)

.post-nav-divider-icon
  border-left: 2rem $white solid
  border-right: 2rem $white solid
  text-align: center
  background-color: $white
  display: flex
  margin: auto auto
  z-index: 1

.post-nav-action-button-wrapper
  display: table
  table-layout: fixed
  text-align: center
  width: 100%

.post-nav-action-button
  display: table-cell
  width: 50%
  padding-right: .1rem
  div:first-child
    width: 95% !important

// Add this class to save/share when active
.post-nav-action-button-active
  border-color: $white !important
  color: $grey-dark !important

.post-nav-action-dropdown-wrapper
  display: block
  margin-top: 1.5rem
  margin-bottom: 1rem

.post-nav-action-dropdown
  display: none
  width: 100%
  border: .1rem $white-ter solid
  padding: 1rem
  a
    display: inline-block
    margin-bottom: 1rem
    &:last-child
      margin-bottom: 0rem

.post-nav-action-dropdown-share-facebook
  color: $facebook

.post-nav-action-dropdown-share-twitter
  color: $twitter

.post-nav-action-dropdown-share-linkedin
  color: $linkedin

.post-nav-action-dropdown-caret-table
  @extend .post-nav-action-button-wrapper

.post-nav-action-dropdown-caret-cell,
.post-nav-action-dropdown-caret-empty-cell
  @extend .post-nav-action-button

.post-nav-action-dropdown-caret-cell
  width: 35% !important

.post-nav-action-dropdown-caret-cell:before
  @extend .triangle-up
  border-color: transparent transparent $white-ter transparent !important
  content: ''
  display: inline-block
  margin-top: -2.2rem

.post-nav-playback-action-wrapper[disabled],
.post-nav-playback-action-wrapper-large[disabled]
  color: $grey-lighter !important
  span
    color: $grey-lighter !important

.post-nav-playback-action-wrapper-large
  margin: 0 1rem

.post-nav-playback-action-wrapper-play-pause
  @extend .post-nav-playback-action-wrapper-large

.post-nav-playback-action-wrapper-rewind,
.post-nav-playback-action-wrapper-forward
  @extend .post-nav-playback-action-wrapper

.post-nav-playback-action-icon:hover
  cursor: pointer

.post-nav-playback-action-icon-rewind,
.post-nav-playback-action-icon-play-pause,
.post-nav-playback-action-icon-forward
  @extend .post-nav-playback-action-icon
  transition: transform .1s ease-in-out

.post-nav-playback-action-icon-rewind:active,
.post-nav-playback-action-icon-play-pause:active,
.post-nav-playback-action-icon-forward:active
  transform: scale(1.2)

.post-nav-toc .toc-entry
  @extend .is-size-7

.post-headline
  transition: color .3s ease-in-out
  &:hover
    color: $primary !important

.post-content-column
  +tablet
    margin-left: 1.5rem

.post-content
  @extend .content
  p
    font-size: $size-5

.post-content:first-letter
  @extend .dropcap

.post-video-wrapper
  position: relative
  padding-bottom: 56.25%
  padding-top: 25px
  height: 0

  iframe
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%

.post-share-footer
  padding-bottom: 5rem

.post-cta
  margin-left: -1.5rem
  margin-right: -1.5rem
  opacity: 0
  background-color: $white
  border-color: $pink
  border-width: 0.0625rem
  border-style: solid
  +tablet
    margin-left: 0
    margin-right: 0
    border-radius: .25rem

#share-button
  opacity: 0
