.post-main
  overflow: hidden
  position: relative

.post-duo
  display: flex
  
.post-nav
  position: relative
  +mobile
    display: none
  +tablet
    flex: 0 0 (14rem + 1.5rem)

.post-nav-content
  position: inherit
  border-right: $primary .1rem solid
  padding: 1.5rem 0
  +tablet
    padding-right: 1.5rem
  
.post-headline
  transition: color .3s ease-in-out
  &:hover
    color: $primary !important

.post-content-column
  +tablet
    margin-left: 1.5rem

.post-content
  @extend .content
  p
    font-size: $size-5

.post-content:first-letter
  @extend .dropcap

.post-video-wrapper
  position: relative
  padding-bottom: 56.25%
  padding-top: 25px
  height: 0

  iframe
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%

.post-share-footer
  padding-bottom: 5rem

.post-cta
  margin-left: -1.5rem
  margin-right: -1.5rem
  opacity: 0
  background-color: $white
  border-color: $pink
  border-width: 0.0625rem
  border-style: solid
  +tablet
    margin-left: 0
    margin-right: 0
    border-radius: .25rem

#share-button
  opacity: 0
