.share-modal-gif
  border-radius: $box-radius

.share-modal-btn
  min-width: 8rem

.share-modal-facebook-btn
  @extend .share-modal-btn
  color: #3B5998

.share-modal-twitter-btn
  @extend .share-modal-btn
  color: #1DA1F2

.share-modal-linkedin-btn
  @extend .share-modal-btn
  color: #0077B5

.share-modal-email-btn
  @extend .share-modal-btn
