.share-modal-gif
  border-radius: $box-radius

.share-modal-btn
  min-width: 8rem

.share-modal-facebook-btn
  @extend .share-modal-btn
  background-color: #3B5998
  color: findColorInvert(#3B5998)
  &:hover
    color: findColorInvert(#3B5998)

.share-modal-twitter-btn
  @extend .share-modal-btn
  background-color: #1DA1F2
  color: findColorInvert(#1DA1F2)
  &:hover
    color: findColorInvert(#1DA1F2)

.share-modal-linkedin-btn
  @extend .share-modal-btn
  background-color: #0077B5
  color: findColorInvert(#0077B5)
  &:hover
    color: findColorInvert(#0077B5)

.share-modal-email-btn
    @extend .share-modal-btn
