.triangle-down {
	width: 0;
	height: 0;
	border-radius: .3rem;
	border-style: solid;
	// Top, Right, Bottom, Left
	border-width: 1.2rem .8rem 0 .8rem;
	border-color: $primary transparent transparent transparent;
}

.triangle-up {
	border-radius: .3rem;
	border-style: solid;
	// Top, Right, Bottom, Left
	border-width: 0rem .8rem 1.2rem .8rem;
	border-color: transparent transparent $primary transparent;
}