---
title: "entertains"
url: "/entertains"
in_header: true
layout: page
hero_bg: "https://images.unsplash.com/photo-1424223022789-26fd8f34bba2?ixlib=rb-0.3.5&q=80&fm=jpg"
hero_headline: "Are you not entertained?"
hero_lead: "That's a rhetorical question."
blurb_headline: "Entertaining is in my blood.<br>The doctor gives me 3 months."
sidekick_bg: "https://images.unsplash.com/photo-1454023989775-79520f04322c?ixlib=rb-0.3.5&q=80&fm=jpg"
sidekick_headline: "You can't spell 'teamwork' without 'Stanley,' not if I'm in charge."
sidekick_cta: "Contact me"
subscribe_leadin: "Want more antics? Subscribe of course!"
---
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
<link rel="stylesheet" href="/css/social-share-kit.css" type="text/css">
<div class="container">
  {% if site.videos.size > 2 %}
  <videos>
    <div class="row">
      <div class="col-xs-6">
        <h1>Video</h1>
      </div>
      <div id="subscribe-youtube" class="col-xs-6 pull-right">
        <a href="{{ site.base_youtube | replace: '$s', site.youtube_username }}" class="ssk ssk-text ssk-youtube">Subscribe</a>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-8">
        <p>I write, direct, edit, and occasionally star in sketches found all over the internet. I prefer to stay behind the scenes because I'm camera-shy, or if you prefer industry terms, 'ugly.'</p>
      </div>
    </div>
    <div class="row">
      {% for video in site.videos %}
      <div class="col-xs-12 col-sm-6">
        <iframe width="100%" height="215px" src="https://www.youtube.com/embed/{{video.id}}" frameborder="0" allowfullscreen></iframe>
        <a href="https://www.youtube.com/watch?v={{video.id}}">{{video.title}}</a>
        <p>{{ video.summary }}</p>
      </div>
      {% endfor %}
    </div>
  </videos>
  {% endif %}
  <credentials>
    <div class="row">
      <div class="col-xs-12">
        <h1>Reference</h1>
      </div>
      <!-- Headshot -->
      <div class="col-xs-12 col-sm-6">
        <a href="https://drive.google.com/open?id=0BzbMf3OHLbFYQUZWWV80RU5kd2s">
          <img id="headshot" class="img-responsive" src="/images/commercial-no-name.jpg"/>
        </a>
      </div>
      <!-- Stats table -->
      <div class="col-xs-12 col-sm-6 pull-right">
        <table class="table">
          <tr>
            <td>Resume</td>
            <td><a href="https://drive.google.com/open?id=0BzbMf3OHLbFYa1U2Um9vUnZKRDA">View <span class="fa fa-file-pdf-o" aria-hidden="true"></span></a></td>
          </tr>
          <tr>
            <td>Meisner Training</td>
            <td><a href="http://www.waynedvorak.com/">Wayne Dvorak</a></td>
          </tr>
          <tr>
            <td>Improv Training</td>
            <td><a href="https://losangeles.ucbtrainingcenter.com/">UCB Los Angeles</a></td>
          </tr>
          <tr>
            <td>Commercial Training</td>
            <td><a href="http://killians-workshop.myshopify.com/">Killian's Commercial Workshop</a></td>
          </tr>
        </table>
      </div>
    </div>
  </credentials>
</div>
{% include sidekick.html
  sidekick_bg=page.sidekick_bg
  sidekick_headline=page.sidekick_headline
  sidekick_cta=page.sidekick_cta
%}