/**
 * The blurb is a page-wide headline found below
 * the jumbotron. It holds a centered one-liner.
 */
.blurb {}
// The container class within blurb
.blurb-container {
  @include m-mediaMin($screen-sm-min) {
    text-align: center;
  }
  text-align: justify;
  padding-top: 4rem;
  padding-bottom: 4rem;
}