/******************************
 * Styles used on /codes
 ******************************/
// Thumbnail for a project/employer
.codePromo-thumb {
  max-height: 256px;
  width: 100%;
  overflow: hidden;
  margin-bottom: 12px;
  border: 1px solid $color-brandText;
}
// The font-awesome links near the title
.codePromo-link {
  font-size: 28px;
  margin-left: 4px;
  color: #757575;
  &:hover, :active, :visited {
    color: darken(#757575, 20%);
  }
}
// The actual image they click on
.codePromo-linkSymbol {
  @include m-lineHeight(4.2);
}