/******************************
 * Contact form
 ******************************/
.contactForm {
}
.contactForm-element {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.contactForm-submitButton {
  &:hover, &:active, &:focus, &:visited {
    border: none;
  }
  border: none;
}
