/******************************
 * This represents a post preview on the /writes page
 ******************************/
.postThumb {
  margin-bottom: 12px;
}
// An H2 Title
.postThumb-title {
  margin-top: 0px;
}
.postThumb-tag {
  @include m-transition(all $seconds-defaultAnimLength ease-in-out);
  &:hover {
    color: white;
    background-color: $color-brandHighlight;
  }
  padding: 0px 8px;
  border: 1px solid $color-brandHighlight;
  border-radius: 3px;
  margin-right: 6px;
  margin-bottom: 6px;
}
.postThumb-thumbnail {
  @include m-hoverFloat(1.01, .7);
}