---
layout: default
---
<!-- Hero Section -->
<section class="hero is-primary">
    <div class="hero-body">
        <div class="container">
            <div class="columns">
                <div class="column is-half is-offset-one-quarter">
                    <h1 class="title">
                        “Those who can, do; those who can’t, teach. You’re a teacher, Stanley.”
                    </h1>
                    <h2 class="subtitle">
                        <br><em>Thanks</em>, Dad
                    </h2>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Intro Section -->
<section class="section">
    <div class="container">
        <div class="columns">
            <div class="column is-half is-offset-one-quarter">
                <p class="has-text-weight-light">
                    <span class="dropcap">B</span>efore he turned the key for the first time, I looked at my brother and made a promise to the both of us: <span class="has-text-weight-semibold">“Fred, you won’t stall this car, you will drive it.”</span>
                </p><br>
                <p class="has-text-weight-light">
                    I was sitting in the passenger seat of my 1993 Ford Probe, the first manual
                     transmission car I ever drove. And if I did my job right, soon the same 
                     would be true for my brother. He was about to attempt his first gear shift, 
                     but by then he had already done it hundreds of times – in my imagination.
                </p><br>
                <div id="courses-full-story">
                    <p class="has-text-weight-light">
                        The moment Fred asked me to teach him how to drive my car, I flashed back to my learning experience. Two years prior I sat precisely where he sat, and in the passenger seat was the Probe’s original owner: my mom’s boyfriend. He thought it best that I learn to drive at a public park, a park whose lot rested on a decline. You might see where this is going (down).
                    </p><br>
                    <p class="has-text-weight-light">
                        My mom’s boyfriend gave me three clear, but curt directions: release the clutch, apply the gas, and don’t hit the brake because you will stall the car. To top off my confidence tank, he reminded me that in all likelihood I would stall the car. Super.
                    </p><br>
                    <p class="has-text-weight-light">
                        I released the handbrake, began to release the clutch, then the foot brake, and that’s when physics 101 took over: the car started to roll down the parking lot. My sweaty palms gripped the wheel tight because my untrained feet had just turned this 1-ton piece of 90s metal into a runaway death machine.
                    </p><br>
                    <p class="has-text-weight-light">
                        I hit the brakes; the car stalled, and the human behind the wheel who prided himself on his aptitude, also stalled. Like a deployed airbag, I deflated. I spent the next hour recovering from that failure and piecing together my hurt ego.
                    </p><br>
                    <p class="has-text-weight-light">
                            But why did I have to learn like that? Why did I have to hit rock-bottom before I could find my way back up? The answer was obvious: my mom’s boyfriend was a lousy teacher.
                    </p><br>
                    <p class="has-text-weight-light">
                        Armed with the memory of that critical failure and the desire to prevent my brother from suffering the same embarrassment, I designed a lesson plan. I itemized every aspect of the shifting maneuver that had become second-nature to me, for these would be the most difficult to impart to Fred. I broke the first gear shift down into its fundamental steps such that I could give them to Fred one at a time. And last, but far from least, I drove him to one of those super rare, legendary flat roads you keep hearing about.
                    </p><br>
                    <p class="has-text-weight-light">
                        He pushed the clutch in and turned the key; the engine started. We sat there for a moment to appreciate the relative flatness of the Earth. He then shifted into first, and slowly, <em>slowly</em> released the clutch until the transmission caught. During my simulations, I learned that manual cars actually move on their own if you catch the gear without fully releasing the clutch. And that’s precisely what happened: the car began to move. This slow movement provided the perfect opportunity to begin applying acceleration and further releasing the clutch, and Fred did exactly that. He drove off without a hiccup.    
                    </p><br>
                    <p class="has-text-weight-light">
                        My brightest memories are like this one, ones in in which I taught exceptionally well. I love to teach because when I do it properly, I can impart even the most difficult subjects on an eager student.    
                    </p><br>
                    <p class="has-text-weight-light">
                        And when I’ve done it improperly, I’ve led students to lose interest or worse, gain the belief that they are not smart enough, not good enough. Those moments are unacceptable; that’s why I’ve taken the same steps with my online courses as I took with Fred when he first learned to drive stick-shift.
                    </p><br>
                    <p class="has-text-weight-light">
                        I simulate the beginner’s experience (your experience), 
                        I isolate and remove difficult or unnecessary first-time information that you don’t need, 
                        I order lessons in a way that makes sense and gradually increases in complexity, 
                        and I try to make it all fun… Some of the time, that means dad jokes.
                    </p><br>
                    <p class="has-text-weight-light">
                        And by some of the time, I mean 100%.
                    </p><br>
                </div>
                <!-- Margin-top to 0 because by default, columns have -.75rem top margin -->
                <div id="courses-full-story-separator" class="columns is-mobile" style="margin-top: 0rem">
                    <!-- This is just a horizontal line -->
                    <div class="column courses-separator-column-left"></div>
                    <div class="column is-one-fifth">
                        <div id="courses-full-story-icon" 
                        class="has-text-centered has-text-white has-text-weight-bold">+</div>
                    </div>
                    <!-- This is just a horizontal line -->
                    <div class="column courses-separator-column-right"></div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section">
    <div class="container">
        <h2 class="title is-4 has-text-centered">Two Ways to Learn</h2><br><br>
        <div class="columns">
            <div class="column is-one-third is-offset-2">
                <h3 class="subtitle is-5 has-text-centered">1. Skillshare</h3>
                <p class="has-text-weight-light">
                    The Skillshare platform offers thousands of courses for a low, 
                    monthly premium. On Skillshare, you can learn everything from design 
                    to marketing to development, it’s all there in one convenient and 
                    super-friendly place.
                </p>
            </div>
            <div class="column is-one-third">
                <h3 class="subtitle is-5 has-text-centered">2. Directly From Me</h3>
                <p class="has-text-weight-light">
                    If you don’t want or need access to all Skillshare has to offer, 
                    purchase the courses <a href="https://gumroad.com/stanleyidesis">directly from me</a> to save a little money and 
                    retain lifetime access to course videos and materials.
                </p>
            </div>
        </div>
    </div>
</section>
<section class="section">
    <div class="container">
        <h2 class="title is-4 has-text-centered">Courses By Stanley</h2><br><br>
        <div class="columns is-multiline">
            {%- for course in site.courses -%}
                {%- assign mod = forloop.index0 | modulo: 2 -%}
                {%- assign offset_class = "" -%}
                {%- if mod == 0 -%}
                    {%- assign offset_class = "is-offset-2" -%}
                {%- endif -%}
            <div class="column is-one-third {{ offset_class }} courses-available-course">
                <div style="position: relative">
                    <figure class="image is-16by9">
                        <img src="/{{course.cover_photo_url}}">
                    </figure>
                    <p class="has-text-weight-semibold" style="margin-top: .8rem">
                        {{course.title}}: {{course.subtitle}}
                    </p>
                    <p class="has-text-weight-light">{{course.course_pitch}}</p>
                    <a href="{{course.id}}" class="courses-course-link"></a>
                </div>
                {%- if course.course_skillshare_staff_pick -%}
                <div class="courses-staff-pick-pill">
                    <figure class="image is-24x24 courses-staff-pick-pill-figure">
                        <img src="/assets/images/skillshare-logo.jpg">
                    </figure>
                    <span class="is-size-7 has-text-white courses-staff-pick-pill-span">Staff Pick</span>
                    <a href="https://blog.skillshare.com/resources/what-makes-a-staff-pick"
                    target="_blank"
                    class="courses-staff-pick-link"></a>
                </div>
                {%- endif -%}
            </div>
            {%- endfor -%}
        </div>
    </div>
</section>
<script>
    {%-include courses.js -%}
</script>