<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body>

    {% include header.html %}

    {{ content }}

    {% include footer.html %}

  </body>
  <!--  This function shifts the content to fit below the fixed header  -->
  <script type="text/javascript">
  (function() {
    var header = document.getElementsByClassName("header-wrapper")[0];
    var sibling = header.nextElementSibling;
    while (sibling.nextElementSibling && sibling.tagName !== "DIV") {
      sibling = sibling.nextElementSibling;
    }
    sibling.style.marginTop = header.offsetHeight + "px";
  })();
</script>
</html>
