---
layout: default
---
<!-- JSON-LD -->
{% include home.schema.html %}
<!-- Hero Section -->
<section class="section">
  <div class="container">
    <div class="columns is-vcentered">
      <div class="column is-one-third has-text-centered-mobile has-text-right-desktop">
        <h2 class="title is-4">I think <span class="has-text-underlined-primary">outside the box</span></h2>
      </div>
      <div class="column is-one-third">
        <figure class="image is-2by3">
          <img id="hero-stanley-img" src="/assets/images/home/hero-stanley-3.jpg" alt="Stanley Idesis doesn't fit into any boxes">
        </figure>
      </div>
      <div class="column is-one-third has-text-centered-mobile has-text-left-desktop">
        <h2 class="subtitle is-5">...for now.<br /><span class="is-size-6 has-text-primary">(stupid box)</span></h2>
      </div>
    </div>
  </div>
</section>
<!-- Why is Stanley Idesis -->
<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column is-one-quarter is-offset-one-quarter has-text-justified">
        <p class="has-text-weight-light">
          <span class="dropcap">W</span>hy do I wake up every morning? The promise of ☕. But also experiences, and what I might do that day to improve them. If I can make a process easier, a brand more relatable, a situation funnier, I will go for it.
        <br \><br \>As a young man, my desire to improve life's moments led me to rehearse conversations before they happened. This practice eased my anxiety and helped deliver a great first impression every time.<br /><br />And it was neruotic.</p>
      </div>
      <div class="column is-one-quarter has-text-justified">
        <p class="has-text-weight-light">Thankfully, I don't spend much time imagining conversations anymore (I go straight to rendering them in full IMAX 3D). Instead, I've placed my focus where it counts: <br /><span style="has-text-weight-semibold">on you.</span>
        <br \><br \>Your prospects, loyal customers, and die-hard fans all benefit when you deliver a great experience. Whether it's through copy, content, software, or those small touches that make all the difference, I can help you turn those little moments into lasting memories.</p>
      </div>
    </div>
  </div>
</section>
<!-- What is Stanley Idesis section -->
<section class="section">
  <div class="container">
    <nav id="talents-level" class="level is-mobile">
      <div class="level-item has-text-centered">
        <div>
          <span class="icon is-large"
          data-tippy="Content Strategist"
          data-tippy-arrow="true"
          data-tippy-size="large"
          data-tippy-animation="shift-away"
          data-tippy-inertia="true">
            <i class="fas fa-2x fa-filter"></i>
          </span>
          <p class="heading is-hidden-mobile">Content Strategist</p>
        </div>
      </div>
      <div class="level-item has-text-centered">
        <div>
          <span class="icon is-large"
          data-tippy="Copywriter & Author"
          data-tippy-arrow="true"
          data-tippy-size="large"
          data-tippy-animation="shift-away"
          data-tippy-inertia="true">
            <i class="fas fa-2x fa-pencil-alt"></i>
          </span>
          <p class="heading is-hidden-mobile">Copywriter & Author</p>
        </div>
      </div>
      <div class="level-item has-text-centered">
        <div>
          <span class="icon is-large"
          data-tippy="Developer"
          data-tippy-arrow="true"
          data-tippy-size="large"
          data-tippy-animation="shift-away"
          data-tippy-inertia="true">
            <i class="fas fa-2x fa-code"></i>
          </span>
          <p class="heading is-hidden-mobile">Developer</p>
        </div>
      </div>
      <div class="level-item has-text-centered">
        <div>
          <span class="icon is-large"
          data-tippy="Educator"
          data-tippy-arrow="true"
          data-tippy-size="large"
          data-tippy-animation="shift-away"
          data-tippy-inertia="true">
            <i class="fas fa-2x fa-graduation-cap"></i>
          </span>
          <p class="heading is-hidden-mobile">Educator</p>
        </div>
      </div>
      <div class="level-item has-text-centered">
        <div>
          <span class="icon is-large">
            <span class="fa-stack fa-lg"
            data-tippy="Box Not-Fitter-Inner"
            data-tippy-arrow="true"
            data-tippy-size="large"
            data-tippy-animation="shift-away"
            data-tippy-inertia="true">
              <i class="fas fa-stack-1x fa-box"></i>
              <i class="fas fa-ban fa-stack-2x has-text-danger"></i>
            </span>
          </span>
          <p class="heading is-hidden-mobile">Box Not-Fitter-Inner</p>
        </div>
      </div>
    </nav>
  </div>
</section>
<!-- The course, of course...  -->
{%- assign content_that_attracts = site.courses | first -%}
<section class="hero is-dark">
  <div class="hero-body">
    <div class="container">
      <div class="columns is-vcentered">
        <div class="column is-4 is-offset-2">
          <a href="{{content_that_attracts.id}}">
            <figure class="image is-16by9 shadow-large">
              <img src="{{content_that_attracts.cover_photo_url}}" alt="Content That Attracts Cover Photo">
            </figure>
          </a>
          <p class="is-size-7 has-text-weight-bold has-text-white-ter has-text-right-tablet">
            <br />
            <a href="{{content_that_attracts.id}}">
              <span class="skillshare-pill">A Skillshare Staff Pick</span>
            </a>
          </p>
        </div>
        <div class="column is-4">
          <h2 class="subtitle is-5">A Brand New Course for Marketers</h2>
          <p class="has-text-weight-light">Skillshare approached me in June and asked me to create a course for their platform. Two months later, we released <a href="{{content_that_attracts.course_url}}"><em>{{content_that_attracts.title}}</em></a>, a course designed to help marketers and small-business owners generate content ideas.
            <br /><br />
          I'm proud of what we fit into this short 45-minute class and as a student, you will appreciate both the abundant knowledge and abundant emojis. 😉🦄</p>
          <br />
          <a class="button is-rounded" href="{{content_that_attracts.id}}">
            <span class="icon is-small">
              <i class="fas fa-chalkboard-teacher"></i>
            </span>
            <span>Learn More</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- The book, of course... -->
<section class="hero is-bold">
  <div class="hero-body">
    <div class="container">
      <div class="columns is-vcentered">
        <div class="column is-3 is-offset-one-quarter is-hidden-mobile">
          {% assign good_content = site.books | first %}
          <a data-target="book-modal"
            data-url-cover-2x3="{{good_content.url_cover_2x3}}"
            data-url-kindle="{{good_content.url_kindle}}"
            data-url-google-play="{{good_content.url_google_play}}"
            data-url-kobo="{{good_content.url_kobo}}"
            data-url-bn="{{good_content.url_bn}}"
            data-url-paperback="{{good_content.url_paperback}}"
          >
            <figure class="image is-2by3 shadow-large">
              <img src="/assets/images/collections/books/good-content/good-content-cover-thumbnail.png" alt="Good Content cover thumbnail">
            </figure>
          </a>
        </div>
        <div class="column is-one-quarter has-text-justified">
          <p class="title is-size-5">I Wrote a Book</p>
          <p class="has-text-weight-light">Whoopty-frikkin-do, am I right? <em>Good Content</em> presents a content strategy for people who prefer an honest approach to marketing, content, and human interaction.
          <br /><br />I've put quite a bit of my soul into this book (it's a horcrux), so it has everything you expect from Stanley: insight, zero bullshit, and dad jokes. Mostly dad jokes.</p>
          <br />
          <div class="buttons">
            <p class="control">
              <a class="button is-primary is-rounded" data-target="book-modal"
                data-url-cover-2x3="{{good_content.url_cover_2x3}}"
                data-url-kindle="{{good_content.url_kindle}}"
                data-url-google-play="{{good_content.url_google_play}}"
                data-url-kobo="{{good_content.url_kobo}}"
                data-url-bn="{{good_content.url_bn}}"
                data-url-paperback="{{good_content.url_paperback}}"
                data-url-pdf-mobi-epub="{{good_content.url_pdf_mobi_epub}}"
              >
              <span class="icon is-small">
                <i class="fas fa-book"></i>
              </span>
              <span>Read Now</span>
              </a>
            </p>
            <p class="control">
              <a class="button is-text" href="{{good_content.id}}">Learn More</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{%- include book-modal.html -%}
<script type="text/javascript">
{% include home.js %}
</script>
