---
layout: default
---
<!-- Hero section -->
<section class="section hero is-medium has-background-primary">
  <div class="hero-body">
    <div class="container">
      <h1 class="title has-text-white">Portfolio</h1>
      <!-- TODO: connect that link to reveal the Browji modal -->
      <h3 class="subtitle has-text-light">A collection of my work: I'm proud of some, happy with others, ashamed of <a class="has-text-white browji-link" title="Oh boy">this one</a>. Enjoy.</h3>
    </div>
  </div>
</section>
<!-- Filter Section -->
<section class="section hero is-small is-light">
  <div class="hero-body">
    <div class="container">
      <h2 class="subtitle is-3">Filter</h2>
      <div class="columns is-vcentered is-mobile is-multiline">
        <!-- Roles -->
        <div id="dropdown-roles" class="dropdown column is-narrow-desktop is-11-mobile">
          <div class="dropdown-trigger">
            <button class="button" aria-haspopup="true" aria-controls="dropdown-menu1">
              <span data-preset="Role">Role</span>
              <span class="icon is-small">
                <i class="fas fa-angle-down" aria-hidden="true"></i>
              </span>
            </button>
          </div>
          <div class="dropdown-menu" id="dropdown-menu1" role="menu">
            <div class="dropdown-content">
            {% assign sorted_roles = site.roles | sort: "name" %}
            {% for role in sorted_roles %}
              <a data-choice="{{ role.id }}" data-type="role" class="dropdown-item">
                {{ role.name }}
              </a>
            {% endfor %}
            </div>
          </div>
        </div>
        <!-- Clients -->
        <div id="dropdown-clients" class="dropdown column is-narrow-desktop is-11-mobile">
          <div class="dropdown-trigger">
            <button class="button" aria-haspopup="true" aria-controls="dropdown-menu2">
              <span data-preset="Client">Client</span>
              <span class="icon is-small">
                <i class="fas fa-angle-down" aria-hidden="true"></i>
              </span>
            </button>
          </div>
          <div class="dropdown-menu" id="dropdown-menu2" role="menu">
            <div class="dropdown-content">
              {% assign sorted_clients = site.clients | sort: "name" %}
              {% for client in sorted_clients %}
              <a data-choice="{{ client.id }}" data-type="client" class="dropdown-item">
                {{client.name}}
              </a>
              {% endfor %}
            </div>
          </div>
        </div>
        <!-- Topics -->
        <div id="dropdown-topics" class="dropdown column is-narrow-desktop is-11-mobile">
          <div class="dropdown-trigger">
            <button class="button" aria-haspopup="true" aria-controls="dropdown-menu3">
              <span data-preset="Topic">Topic</span>
              <span class="icon is-small">
                <i class="fas fa-angle-down" aria-hidden="true"></i>
              </span>
            </button>
          </div>
          <div class="dropdown-menu" id="dropdown-menu3" role="menu">
            <div class="dropdown-content">
              {% assign sorted_topics = site.topics | sort: "name" %}
              {% for topic in sorted_topics %}
                <a data-choice="{{ topic.id }}" data-type="topic" class="dropdown-item">
                  {{ topic.name }}
                </a>
              {% endfor %}
            </div>
          </div>
        </div>
        <div class="column is-narrow-desktop is-11-mobile">
          <div class="container">
            <a id="clear-filter-button" class="button is-danger is-outlined is-rounded">
              <span>Clear Filter</span>
              <span class="icon is-small">
                <i class="fas fa-times"></i>
              </span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<br \>
<section class="section">
  <div class="container">
    <div class="columns is-multiline">
      {% assign sorted_works = site.works | sort: "title" %}
      {% for work in sorted_works %}
      <div class="portfolio-column column is-one-third"
        data-id="{{ work.id }}"
        data-title="{{work.title}}"
        data-subtitle="{{work.subtitle}}"
        data-output="{{work.output | escape}}"
        data-banner="{{work.banner_16x9}}"
        data-client="{{work.client}}"
        data-roles="{{work.roles | join: ","}}"
        data-topics="{{work.topics | join: ","}}"
        data-url-play="{{work.url_play}}"
        data-url-read="{{work.url_read}}"
        data-url-visit="{{work.url_visit}}"
        data-url-product-hunt="{{work.url_product_hunt}}"
        data-url-android-install="{{work.url_android_install}}"
        data-url-ios-install="{{work.url_ios_install}}"
        data-url-chrome-install="{{work.url_chrome_install}}"
        data-url-download-pdf="{{work.url_download_pdf}}"
        data-url-source="{{work.url_source}}">
        <article class="box portfolio-item">
          <figure class="image is-3by2">
            <img src="{{work.thumbnail_3x2}}" class="portfolio-item-thumbnail">
          </figure>
          <br \>
          <h1 class="title is-4">{{ work.title }}</h1>
          <h2 class="subtitle is-6">{{ work.subtitle }}</h2>
        </article>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
<!-- Modal -->
<div class="modal">
  <div class="modal-background"></div>
  <div class="modal-content">
    <!-- Any other Bulma elements you want -->
    <article class="box">
      <figure class="image is-16by9">
        <img class="portfolio-banner">
      </figure>
      <br \>
      <h1 class="title is-3"></h1>
      <h2 class="subtitle is-5"></h2>
      <div class="buttons">
        <a id="modal-button-play" class="button" target="_blank">
          <span class="icon is-small">
            <i class="fas fa-play"></i>
          </span>
          <span>Play</span>
        </a>
        <a id="modal-button-read" class="button" target="_blank">
          <span class="icon is-small">
            <i class="fas fa-glasses"></i>
          </span>
          <span>Read</span>
        </a>
        <a id="modal-button-visit" class="button" target="_blank">
          <span class="icon is-small">
            <i class="fas fa-globe"></i>
          </span>
          <span>Visit</span>
        </a>
        <a id="modal-button-install-ios" class="button" target="_blank">
          <span class="icon is-small">
            <i class="fab fa-app-store-ios"></i>
          </span>
          <span>Install</span>
        </a>
        <a id="modal-button-install-android" class="button" target="_blank">
          <span class="icon is-small">
            <i class="fab fa-android"></i>
          </span>
          <span>Install</span>
        </a>
        <a id="modal-button-install-chrome" class="button" target="_blank">
          <span class="icon is-small">
            <i class="fab fa-chrome"></i>
          </span>
          <span>Install</span>
        </a>
        <a id="modal-button-source" class="button" target="_blank">
          <span class="icon is-small">
            <i class="fas fa-code-branch"></i>
          </span>
          <span>View Source</span>
        </a>
        <a id="modal-button-product-hunt" class="button" target="_blank">
          <span class="icon is-small">
            <i class="fab fa-product-hunt"></i>
          </span>
          <span>Product Hunt</span>
        </a>
        <a id="modal-button-download" class="button" target="_blank">
          <span class="icon is-small">
            <i class="fas fa-file-pdf"></i>
          </span>
          <span>Download PDF</span>
        </a>
      </div>
      <div class="content"></div>
    </article>
  </div>
  <button class="modal-close is-large" aria-label="close"></button>
</div>
<!-- Activate the js that powers the portfolio -->
{% include portfolio.js.html %}
