---
layout: default
---
<!-- Hero section -->
<section class="section hero is-medium has-background-primary">
  <div class="hero-body">
    <div class="container">
      <h1 class="title has-text-white">Portfolio</h1>
      <!-- TODO: connect that link to reveal the Browji modal -->
      <h3 class="subtitle has-text-light">A collection of my work: I'm proud of some, happy with others, ashamed of <a class="has-text-white" style="text-decoration:underline" href="/">this one</a>. Enjoy.</h3>
    </div>
  </div>
</section>
<!-- Filter Section -->
<section class="hero is-light">
  <div class="hero-body">
    <div class="container">
      <div class="columns is-vcentered is-mobile">
        <!-- Roles -->
        <div class="dropdown column is-1-desktop is-one-third-mobile">
          <div class="dropdown-trigger">
            <button class="button" aria-haspopup="true" aria-controls="dropdown-menu1">
              <span>Roles</span>
              <span class="icon is-small">
                <i class="fas fa-angle-down" aria-hidden="true"></i>
              </span>
            </button>
          </div>
          <div class="dropdown-menu" id="dropdown-menu1" role="menu">
            <div class="dropdown-content">
            {% for role in site.roles %}
              <a data-choice="{{ role.id }}" class="dropdown-item">
                {{ role.name }}
              </a>
            {% endfor %}
            </div>
          </div>
        </div>
        <!-- Clients -->
        <div class="dropdown column is-1-desktop is-one-third-mobile">
          <div class="dropdown-trigger">
            <button class="button" aria-haspopup="true" aria-controls="dropdown-menu3">
              <span>Clients</span>
              <span class="icon is-small">
                <i class="fas fa-angle-down" aria-hidden="true"></i>
              </span>
            </button>
          </div>
          <div class="dropdown-menu" id="dropdown-menu3" role="menu">
            <div class="dropdown-content">
              <a href="#" class="dropdown-item">
                Overview
              </a>
              <a href="#" class="dropdown-item">
                Modifiers
              </a>
              <a href="#" class="dropdown-item">
                Grid
              </a>
              <a href="#" class="dropdown-item">
                Form
              </a>
              <a href="#" class="dropdown-item">
                Elements
              </a>
              <a href="#" class="dropdown-item">
                Components
              </a>
              <a href="#" class="dropdown-item">
                Layout
              </a>
              <a href="#" class="dropdown-item">
                More
              </a>
            </div>
          </div>
        </div>
        <!-- Topics -->
        <div class="dropdown column is-1-desktop is-one-third-mobile">
          <div class="dropdown-trigger">
            <button class="button" aria-haspopup="true" aria-controls="dropdown-menu1">
              <span>Topics</span>
              <span class="icon is-small">
                <i class="fas fa-angle-down" aria-hidden="true"></i>
              </span>
            </button>
          </div>
          <div class="dropdown-menu" id="dropdown-menu1" role="menu">
            <div class="dropdown-content">
              <a href="#" class="dropdown-item">
                Overview
              </a>
              <a href="#" class="dropdown-item">
                Modifiers
              </a>
              <a href="#" class="dropdown-item">
                Grid
              </a>
              <a href="#" class="dropdown-item">
                Form
              </a>
              <a href="#" class="dropdown-item">
                Elements
              </a>
              <a href="#" class="dropdown-item">
                Components
              </a>
              <a href="#" class="dropdown-item">
                Layout
              </a>
              <a href="#" class="dropdown-item">
                More
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Activate the js that powers the portfolio -->
{% include portfolio.js.html %}
