---
layout: default
---
<!-- Hero section -->
<section class="section hero is-medium has-background-primary">
  <div class="hero-body">
    <div class="container">
      <h1 class="title has-text-white">Portfolio</h1>
      <!-- TODO: connect that link to reveal the Browji modal -->
      <h3 class="subtitle has-text-light">A collection of my work: I'm proud of some, happy with others, ashamed of <a class="has-text-white" style="text-decoration:underline" href="/">this one</a>. Enjoy.</h3>
    </div>
  </div>
</section>
<!-- Filter Section -->
<section class="section hero is-light">
  <div class="hero-body">
    <div class="container">
      <div class="columns is-vcentered is-mobile">
        <!-- Roles -->
        <div id="dropdown-roles" class="dropdown column is-1-desktop is-one-third-mobile">
          <div class="dropdown-trigger">
            <button class="button" aria-haspopup="true" aria-controls="dropdown-menu1">
              <span>Roles</span>
              <span class="icon is-small">
                <i class="fas fa-angle-down" aria-hidden="true"></i>
              </span>
            </button>
          </div>
          <div class="dropdown-menu" id="dropdown-menu1" role="menu">
            <div class="dropdown-content">
            {% assign sorted_roles = site.roles | sort: "name" %}
            {% for role in sorted_roles %}
              <a data-choice="{{ role.id }}" class="dropdown-item">
                {{ role.name }}
              </a>
            {% endfor %}
            </div>
          </div>
        </div>
        <!-- Clients -->
        <div id="dropdown-clients" class="dropdown column is-1-desktop is-one-third-mobile">
          <div class="dropdown-trigger">
            <button class="button" aria-haspopup="true" aria-controls="dropdown-menu3">
              <span>Clients</span>
              <span class="icon is-small">
                <i class="fas fa-angle-down" aria-hidden="true"></i>
              </span>
            </button>
          </div>
          <div class="dropdown-menu" id="dropdown-menu3" role="menu">
            <div class="dropdown-content">
              {% assign sorted_clients = site.clients | sort: "name" %}
              {% for client in sorted_clients %}
              <a data-choice="{{ client.id }}" class="dropdown-item">
                {{client.name}}
              </a>
              {% endfor %}
            </div>
          </div>
        </div>
        <!-- Topics -->
        <div id="dropdown-topics" class="dropdown column is-1-desktop is-one-third-mobile">
          <div class="dropdown-trigger">
            <button class="button" aria-haspopup="true" aria-controls="dropdown-menu1">
              <span>Topics</span>
              <span class="icon is-small">
                <i class="fas fa-angle-down" aria-hidden="true"></i>
              </span>
            </button>
          </div>
          <div class="dropdown-menu" id="dropdown-menu1" role="menu">
            <div class="dropdown-content">
              {% assign sorted_topics = site.topics | sort: "name" %}
              {% for topic in sorted_topics %}
                <a data-choice="{{ topic.id }}" class="dropdown-item">
                  {{ topic.name }}
                </a>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<br \><br \>
<section class="section">
  <div class="container">
    <div class="columns is-multiline">
      {% assign sorted_works = site.works | sort: "title" %}
      {% for work in sorted_works %}
      <div class="column is-one-quarter"
        data-id="{{ work.id }}"
        data-title="{{work.title}}"
        data-subtitle="{{work.subtitle}}"
        data-output="{{work.output}}"
        data-banner="{{work.banner_16x9}}"
        data-client="{{work.client}}"
        data-roles="{{work.roles | join: ","}}"
        data-topics="{{work.topics | join: ","}}"
        data-url-visit="{{work.url_visit}}"
        data-url-source="{{work.url_source}}">
        <article class="box portfolio-item">
          <figure class="image is-3by2">
            <img src="{{work.thumbnail_3x2}}">
          </figure>
          <br \>
          <h1 class="title is-4">{{ work.title }}</h1>
          <h2 class="subtitle is-6">{{ work.subtitle }}</h2>
        </article>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
<!-- Modal -->
<div class="modal">
  <div class="modal-background"></div>
  <div class="modal-content">
    <!-- Any other Bulma elements you want -->
    <article class="box">
      <figure class="image is-16by9">
        <img class="portfolio-banner">
      </figure>
      <br \>
      <h1 class="title is-3"></h1>
      <h2 class="subtitle is-5"></h2>
      <div class="content"></div>
    </article>
  </div>
  <button class="modal-close is-large" aria-label="close"></button>
</div>
<!-- Activate the js that powers the portfolio -->
{% include portfolio.js.html %}
