---
layout: default
---
<article>
  <!-- <header class="post-header">
    <h1 class="post-title p-name" itemprop="name headline">{{ page.title | escape }}</h1>
    <p class="post-meta">
      <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        {{ page.date | date: date_format }}
      </time>
      {%- if page.author -%}
        • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>
      {%- endif -%}</p>
  </header>

  <div class="post-content e-content" itemprop="articleBody">
    {{ content }}
  </div> -->
  <!-- Header -->
  <section class="post-hero has-js-background-image" data-js-bg-source="{{page.feature-image-url}}" data-js-target-opacity="1">
    <div class="post-hero-body">
      <div class="post-hero-container">
        <a href="{{page.url}}"><h1 class="subtitle is-2 has-text-white-ter post-hero-headline">{{page.headline}}</h1></a>
      </div>
    </div>
  </section>
  <!-- Byline and Date -->
  {%- assign date_format = "%b %-d, %Y" -%}
  <section class="section">
    <div class="container">
      <div class="columns">
        <div class="column is-8 is-offset-2">
          <p class="has-text-weight-light has-text-grey-light">{{page.author}} • {{ page.date | date: date_format }}</p>
        </div>
      </div>
    </div>
    <br />
    <br />
    <!-- Begin Content -->
    <div class="container">
      <div class="columns">
        <div class="column is-8 is-offset-2 post-content">
          {{content}}
        </div>
      </div>
    </div>
  </section>
</article>
{% include image-modal.html %}
<script>
{% include post.js %}
</script>
