---
layout: default
---
<!-- Get Full URL -->
{%- assign post_image_url = page.feature_image_url | prepend: site.url -%}
<!-- Generate Keyword Array -->
{%- assign all_quoted_keywords = "[" -%}
{%- assign all_keywords = page.keywords | split: "," -%}
{%- for keyword in all_keywords -%}
  {%- capture quoted_keyword -%}
  "{{keyword | lstrip | rstrip}}",
  {%- endcapture -%}
  {%- assign all_quoted_keywords = all_quoted_keywords | append: quoted_keyword -%}
{%- endfor -%}
{%- assign length = all_quoted_keywords | size | minus: 1 -%}
{%- assign all_quoted_keywords = all_quoted_keywords | slice: 0, length -%}
{%- assign all_quoted_keywords = all_quoted_keywords | append: "]" -%}
<!-- Wordcount -->
{%- assign post_wordcount = page.content | number_of_words -%}
<!-- Canonical URL -->
{%- if page.canonical -%}
  {%- assign canonical_url = page.canonical -%}
{%- else -%}
  {%- assign canonical_url = page.url | prepend: site.url -%}
{%- endif -%}
<!-- Article body -->
{%- assign post_body = page.content | strip_html -%}
<!-- JSON-LD -->
{%-
  include post.schema.html
  full_title=page.title
  url_cover=page.feature_image_url
  headline=page.headline
  alt_headline=page.alt_headline
  image_url=post_image_url
  editor="Stanley Idesis"
  genre=page.genre
  keywords=all_quoted_keywords
  wordcount=post_wordcount
  url=canonical_url
  date_published=page.date
  date_created=page.date
  date_modified=page.date_modified
  description=page.description
  article_body=post_body
-%}
<!-- Header -->
<section class="hero is-medium">
    <div class="hero-body has-no-padding">
      <div class="container">
        <figure class="image is-16by9">
          <img src="{{page.feature_image_url}}">
        </figure>
      </div>
    </div>
  </section>
<section class="section post-main">
  <!-- Begin Content -->
  <div class="container">
    <div class="post-duo">
      <aside class="post-nav">
        <!-- Actual Nav Content -->
        <div class="post-nav-content">
          <!-- Available Resource Actions -->
          <div class="post-nav-action-container">
            <!-- Save and Share buttons -->
            <div class="post-nav-action-button-wrapper">
              <div class="post-nav-action-button">
                <div id="post-nav-action-save" class="button is-primary is-rounded is-outlined">
                  <span class="icon">
                    <i class="far fa-save"></i>
                  </span>
                  <span>save</span>
                </div>
              </div>
              <div class="post-nav-action-button">
                <div id="post-nav-action-share" class="button is-primary is-rounded is-outlined">
                  <span class="icon">
                    <i class="fas fa-share-alt"></i>
                  </span>
                  <span>share</span>
                </div>
              </div>
            </div>
            <!-- Container to reveal the save/share actions -->
            <div class="post-nav-action-dropdown-wrapper">
              <!-- Save container -->
              <div id="post-nav-action-dropdown-save" class="post-nav-action-dropdown">
                <div class="post-nav-action-dropdown-caret-table">
                  <div class="post-nav-action-dropdown-caret-cell"><br></div>
                  <div class="post-nav-action-dropdown-caret-empty-cell"></div>
                </div>
                <a class="button is-rounded is-fullwidth">
                  <span class="icon">
                    <i class="far fa-file-pdf"></i>
                  </span>
                  <span>pdf</span>
                </a>
                <a class="button is-rounded is-fullwidth">
                  <span class="icon">
                    <i class="fas fa-book"></i>
                  </span>
                  <span>ePub</span>
                </a>
                <a class="button is-rounded is-fullwidth">
                  <span class="icon">
                    <i class="fab fa-amazon"></i>
                  </span>
                  <span>mobi</span>
                </a>
                <a class="button is-rounded is-fullwidth">
                  <span class="icon">
                    <i class="fas fa-headphones-alt"></i>
                  </span>
                  <span>mp3</span>
                </a>
              </div>
              <!-- Share container -->
              <div id="post-nav-action-dropdown-share" class="post-nav-action-dropdown"
                data-share-url="{{page.url | prepend: site.url}}"
                data-share-title="{{page.title}}"
                data-share-description="{{page.description}}"
                data-share-image="{{page.social_image_url}}">
                <div class="post-nav-action-dropdown-caret-table">
                  <div class="post-nav-action-dropdown-caret-empty-cell"></div>
                  <div class="post-nav-action-dropdown-caret-cell"><br></div>
                </div>
                <a class="button is-rounded is-fullwidth post-nav-action-dropdown-share-facebook">
                    <span class="icon">
                      <i class="fab fa-facebook"></i>
                    </span>
                    <span>facebook</span>
                  </a>
                  <a class="button is-rounded is-fullwidth post-nav-action-dropdown-share-twitter">
                    <span class="icon">
                      <i class="fab fa-twitter"></i>
                    </span>
                    <span>twitter</span>
                  </a>
                  <a class="button is-rounded is-fullwidth post-nav-action-dropdown-share-linkedin">
                    <span class="icon">
                      <i class="fab fa-linkedin"></i>
                    </span>
                    <span>linkedin</span>
                  </a>
                  <a class="button is-rounded is-fullwidth post-nav-action-dropdown-share-email">
                    <span class="icon">
                      <i class="fas fa-at"></i>
                    </span>
                    <span>email</span>
                  </a>
              </div>
            </div>
          </div>
          {%- if page.categories -%}
          <div class="post-nav-divider">
            <span class="icon is-medium has-text-primary post-nav-divider-icon">
              <i class="fa-lg far fa-folder-open"></i>
            </span>
          </div>
          <div class="tags">
            {%- for category in page.categories -%}
            <span class="tag is-medium is-rounded">{{category}}</span>
            {%- endfor -%}
          </div>
          {%- endif -%}
          {%- if page.download_mp3 -%}
          <div class="post-nav-divider">
            <span class="icon is-medium has-text-primary post-nav-divider-icon">
              <i class="fa-lg fas fa-headphones-alt"></i>
            </span>
          </div>
          <audio id="post-nav-playback-audio" class="is-hidden" preload="metadata" data-mp3="{{page.download_mp3}}"></audio>
          <div class="post-nav-playback-wrapper has-text-centered" >
            <div class="post-nav-playback-action-wrapper-rewind has-text-centered is-inline-block" disabled>
              <span class="post-nav-playback-action-icon-rewind icon is-medium has-text-primary is-block">
                <i class="fa-lg fas fa-undo-alt"></i>
              </span>
              <span class="is-block has-text-weight-light is-unselectable">10s</span>
            </div>
            <div class="post-nav-playback-action-wrapper-play-pause has-text-centered is-inline-block">
              <span class="post-nav-playback-action-icon-play-pause icon is-large has-text-primary is-block">
                <i class="fa-3x fas fa-play-circle"></i>
              </span>
              <span class="is-block has-text-weight-light is-unselectable">play</span>
            </div>
            <div class="post-nav-playback-action-wrapper-forward has-text-centered is-inline-block" disabled>
              <span class="post-nav-playback-action-icon-forward icon is-medium has-text-primary is-block">
                <i class="fa-lg fas fa-redo-alt"></i>
              </span>
              <span class="is-block has-text-weight-light is-unselectable">30s</span>
            </div>
          </div>
          {%- endif -%}
          <!-- The ToC -->
          <div class="post-nav-divider">
            <span class="icon is-medium has-text-primary post-nav-divider-icon">
              <i class="fa-lg far fa-bookmark"></i>
            </span>
          </div>
          <div class="post-nav-toc content">
            {{ content | toc_only }}
          </div>
        </div>
      </aside>
      <div class="columns is-multiline">
        <!-- Content Column -->
        <article class="column is-8 post-content-column">
          <a href="{{page.url}}"><h1 class="subtitle is-size-4 is-size-2-tablet has-text-grey-dark post-headline">{{page.headline}}</h1></a>
          <br>
          <!-- Byline and Date -->
          {%- assign date_format = "%B %-d, %Y" -%}
          {%- if page.date_modified -%}
          <p class="has-text-weight-light has-text-grey-light">{{page.author}} • Updated {{ page.date_modified | date: date_format }}</p>
          <br>
          {%- else -%}
          <p class="has-text-weight-light has-text-grey-light">{{page.author}} • Published {{ page.date | date: date_format }}</p>
          <br>
          {%- endif -%}
          <div class="post-content">
            {{ content | inject_anchors }}
          </div>
          <hr>
        </article>
        <!-- Share Column -->
        <div class="column is-8 post-share-footer has-text-centered">
          <a id="share-button"
            data-target="share-modal"
            data-share-url="{{page.url | prepend: site.url}}"
            data-share-title="{{page.title}}"
            data-share-description="{{page.description}}"
            data-share-image="{{page.social_image_url}}"
            class="button is-primary is-large is-rounded">Sharing Is…?</a>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="post-mobile-nav">
  <!-- Begins with a FAB -->
  <div class="post-mobile-nav-fab-wrapper">
    <div class="post-mobile-nav-fab">
      <span class="post-mobile-nav-fab-icon icon is-medium">
        <i class="fa-2x far fa-thumbs-up"></i>
      </span>
    </div>
  </div>
</div>
{%- include image-modal.html -%}
{%- include share-modal.html -%}
<script>
{%-include post.js-%}
</script>
